<!-- generate_site:meta created="2026-09-16T08:45:19.596207" hash="b503e91e199860effa1c936de48c30d9988891a775939c2519fa1c7c2a72048c" -->
<div class="footer-author geek-stats accordion-stop">
  <div class="footer-author-title" style="font-weight:400;">
    <b>Estadísticas:</b> iii — Introducción por Śrīla Bhakti Prajñāna Keśava Gosvāmī Mahārāja
  </div>
  <div class="footer-author-text"><b>Idioma original:</b> Hindi<br/>
    <b>Traducido por:</b> Vṛndāvaneśvarī dāsī<br/>
    <b>Fecha original:</b> <span class='stat-val'>Māghī-pūrṇimā, 1896 en Surabhī-kuñja, Godrumadvīpa</span><br/>
    
    <b>Temas:</b> <span class="stat-val">18</span> (principales:<span class="stat-val">1</span>, secundarios:<span class="stat-val">17</span>)<br/>
    <b>Contenido:</b> párrafos <span class="stat-val">193</span>, palabras: <span class="stat-val">6083</span><br/>
    <b>Diseños:</b> imágenes: <span class="stat-val">3</span>, diagrámas: <span class="stat-val">0</span><br/>
    <b>Tiempo de lectura:</b> <span class="stat-val">56 min, 52 seg</span><br/>
    <b>Presentación creada el:</b> <span class="stat-val">2026-09-16, 08:45</span>
  </div>
</div>

<div id="content-body">

<h1>Introducción</h1>

<p class="subtitle">Introducción a la segunda edición en hindi por <i>Śrī Śrīmad Bhakti Prajñāna Keśava Gosvāmī Mahārāja</i></p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/2c931bb27d796347.avif" width="512" height="288" alt="">
</figure>

<p>Prácticamente todas las numerosas tradiciones religiosas del mundo adoptan distintos métodos para propagar sus respectivos ideales, y uno de ellos es la publicación de escritos en diferentes idiomas.</p>

<p>Es evidente que dentro del ámbito de la educación laica hay niveles elementales, intermedios y avanzados, y también ramas del conocimiento superiores e inferiores.</p>

<p>También es evidente –y quienes han leído y conocen a fondo los estudios religiosos comparativos lo admiten de forma unánime– que dentro de las enseñanzas metafísicas de las distintas tradiciones religiosas hay diferentes niveles de conocimiento.</p>

<p>Entre todas las ideologías religiosas, las enseñanzas de <i>Śrī Chaitanya Mahāprabhu</i> sobre la religión del <i>prema</i> (amor puro) son desde todos los puntos de vista la revelación más elevada, y cuando los pensadores imparciales del mundo se acerquen a esta comprensión tan sublime, aceptarán sin duda este hecho.</p>

<p>Todo el mundo desea ser inspirado por las enseñanzas y los ideales más elevados, pero, ¿cómo puede fructificar este auspicioso deseo? Con este pensamiento, <i>Śrīla Ṭhākura Bhaktivinoda</i>, la gran personalidad liberada y joya cumbre de la élite cultivada, estableció por medio de su ejemplo personal el ideal de vida espiritual supremo y escribió numerosos libros acerca del <i>vaiṣṇava-dharma</i> en diferentes idiomas.</p>

<p>En estas obras se puede encontrar una descripción detallada de las instrucciones de Śrī Chaitanya Mahāprabhu escritas en un lenguaje sencillo.</p>

<p>De todos los libros de este autor, los pensadores religiosos del mundo consideran que el <i>Jaiva-dharma</i> es la quintaesencia.</p>

<h3>Las escrituras védicas y la necesidad de una comprensión correcta</h3>

<p>Los <i>Vedas</i> son las escrituras más antiguas de la tierra, y sus corolarios, que incluyen las <i>Upaniṣads</i> y otros textos compilados por <i>Śrī Vedavyāsa</i> (como el <i>Vedānta-sūtra</i>, el <i>Mahābhārata</i> y el <i>Śrīmad Bhāgavatam</i>), son todas obras literarias consumadas.</p>

<p>A lo largo de la historia, se han escrito multitud de libros inspirados en los ideales enunciados en estos textos que tuvieron una gran difusión y fueron muy populares.</p>

<p>En ellos encontramos no solo diferentes niveles de pensamiento, características distintivas y puntos de vista contrapuestos, sino también exclusividad mutua, polarización de la doctrina y filosofía especulativa.</p>

<p>Como resultado de ello, ha habido desconciertos y calamidades en el ámbito religioso que continúan en la actualidad.</p>

<h3>Śrī Chaitanya Mahāprabhu y la enseñanza suprema del prema</h3>

<p>En medio de estas precarias circunstancias, el Señor Supremo original, <i>Svayaṁ Bhagavān</i>, que es la Verdad Absoluta, apareció hace alrededor de quinientos años en el principal de los siete lugares sagrados, <i>Śrīdhāma-Māyāpura</i> en <i>Navadvīpa-dhāma</i>, para liberar a los seres vivientes condicionados.</p>

<p>En ese tiempo, el Señor apoderó a algunos de Sus queridos asociados para que compilaran extensos volúmenes que contienen el verdadero significado y la esencia de todas las escrituras.</p>

<p>Mediante estos escritos, el Señor quiso infundir el servicio devocional (<i>bhakti</i>), que es la raíz del conocimiento trascendental, en los corazones de todas las gentes.</p>

<p>La totalidad de estos libros, exceptuando tres o cuatro, fueron escritos en el idioma sánscrito.</p>

<p>Los <i>Gosvamīs</i> <i>Śrī Rūpa</i> y <i>Śrī Sanātana</i> eran dos de los asociados más elevados y confidenciales de <i>Śrī Chaitanya Mahāprabhu</i>, y <i>Śrīla Jīva Gosvamī</i> les era tan querido, que era prácticamente una manifestación idéntica a ellos.</p>

<p>Este último extrajo la esencia de todas las escrituras y escribió los <i>Ṣaṭ-sandarbhas</i> y otros libros en sánscrito.</p>

<p>A través de su obra, <i>Svayaṁ Bhagavān</i> manifestó Su deseo confidencial de representar Su pasatiempo de liberar a las entidades vivientes (<i>jīvas</i>).</p>

<h3>Śrī Jīva Gosvamī y la esencia de las escrituras</h3>

<p>Hay personas que, incapaces de captar el verdadero significado de las escrituras, las interpretan según su comprensión relativa.</p>

<p>En algunos casos, esas personas toman solo un significado parcial de estas, en otros casos sus interpretaciones empañan el significado verdadero, y en otros casos adoptan posiciones que son completamente opuestas a la intención original.</p>

<p><i>Śrīla Jīva Gosvamī</i> no se encuentra en ninguna de estas categorías, y las instrucciones que fluyeron de su pluma son las instrucciones absolutas y concluyentes de <i>Śrīman Mahāprabhu</i> y de aquellas plasmadas en los <i>Vedas</i>, las <i>Upaniṣads</i>, el <i>Mahābhārata</i> y el <i>Śrīmad Bhāgavatam</i>.</p>

<p>El <i>Jaiva-dharma</i> ha sido redactado de una forma extraordinaria basándose en el significado perfecto y completo de esas enseñanzas.</p>

<h3>El significado del título “Jaiva-dharma”</h3>

<p>Con idea de que los lectores puedan comprender fácilmente la utilidad y el sentido del libro, haremos ahora un análisis del significado del título.</p>

<p>El autor lo ha titulado <i>Jaiva-dharma</i>.</p>

<p>Puesto que todos tenemos una noción de lo que es el <i>dharma</i> (ocupación esencial o religión), y teniendo también en cuenta la falta de espacio, no haré más hincapié en ello.</p>

<p>En sánscrito, cuando a la palabra <i>jīva</i> (entidad viviente) se le añade el sufijo secundario <i>aṇ</i>, la vocal de en medio se ve reforzada y pierde la <i>ṇ</i> de dicho sufijo.</p>

<p>Es así como obtenemos la palabra <i>jaiva</i>, que significa <span class="content-highlight">“de la <i>jīva</i>”</span> o <span class="content-highlight">“relacionado con la <i>jīva</i>”</span>.</p>

<p><i>Jaiva-dharma</i> quiere decir, por tanto, el <i>dharma</i> o la función característica de la <i>jīva</i>.</p>

<p>Pero, ¿qué quiere decir la palabra <i>jīva</i> en este contexto? Aunque el autor responde exhaustivamente a esta pregunta en su libro, considero esencial añadir brevemente uno o dos comentarios.</p>

<p>La palabra <i>jīvana</i> (vida) procede de la palabra <i>jīva</i>, que significa ‘alguien que tiene vida’.</p>

<p>En otras palabras, todos los seres vivientes son <i>jīvas</i>.</p>

<p>El autor ha utilizado por tanto el término ‘<i>jaiva-dharma</i>’ para indicar la función constitucional de la <i>jīva</i>.</p>

<p><i>Śrī Chaitanya Mahāprabhu</i> instruyó a las <i>jīvas</i> a través de Sus devotos e incondicionales seguidores, los Seis Gosvāmīs –encabezados por <i>Śrī Rūpa</i>, <i>Sanātana</i> y <i>Jīva Gosvāmī</i>– sobre la clase de <i>dharma</i> que debían aceptar y seguir.</p>

<p>Unos cuatrocientos años más tarde, el autor de este libro, <i>Śrīla Bhaktivinoda Ṭhākura</i>, conocido como el Séptimo <i>Gosvāmī</i>, hacía su aparición no lejos de <i>Śrīdhāma-Māyāpura</i>, el lugar de nacimiento de <i>Śrī Gaurāṅga</i>.</p>

<p>Su naturaleza compasiva y su empatía hacia la condición de las <i>jīvas</i>, le impulsaron a escribir el <i>Jaiva-dharma</i> en bengalí.</p>

<p>Por deseo de <i>Bhagavān</i>, <i>Śrī Kṛṣṇa dāsa Kavirāja Gosvāmī</i>, un asociado muy querido de <i>Śrī Gaurāṅga</i>, captó la esencia de las instrucciones de <i>Bhagavān</i> <i>Śrī Gaurachandra</i> en el <i>Śrī Chaitanya-charitāmṛta</i>.</p>

<p>Esta se expresa en el siguiente verso:</p>

<verse>
  jivera svarūpa haya kṛṣṇera nitya dāsa
  <br/>
  kṛṣṇera taṭasthā-śakti bhedābheda prakāśa
</verse>

<blockquote>

  La condición natural de la <i>jīva</i> es ser una sirvienta de <i>Kṛṣṇa</i>. La <i>jīva</i> es la potencia marginal de <i>Kṛṣṇa</i> y una manifestación igual a <i>Kṛṣṇa</i> y al mismo tiempo diferente de Él.

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Madhya (20.108)</blockquote-ref>

</blockquote>

<h3>La identidad constitucional de la jīva</h3>

<p>El autor ha basado el <i>Jaiva-dharma</i> en este verso, que es el aforismo fundamental de todas las instrucciones de los <i>vaiṣṇavas</i> <i>gauḍīya</i>.</p>

<p>Este libro es, por tanto, beneficioso y apto para todos los seres humanos sin distinción de raza, casta, condición, tiempo, lugar o persona.</p>

<p>No solo eso, es también beneficioso hasta para las <i>jīvas</i> que nacen en otras especies, ya sean piedras, animales u otras entidades móviles e inmóviles.</p>

<p>Existen numerosos ejemplos dignos de mención de seres distintos de los humanos que aceptaron el <i>jaiva-dharma</i>: <i>Ahalyā</i> en el cuerpo de una piedra, los gemelos <i>Yamalārjunas</i> y los siete <i>tālas</i> en cuerpos de árboles, el rey <i>Nṛga</i> en el cuerpo de un lagarto, <i>Gajendra</i> en el cuerpo de un elefante, <i>Jāmavanta</i> en el cuerpo de un oso, y <i>Aṅgada</i> y <i>Sugrīva</i> en cuerpos de monos.</p>

<p><i>Brahmā</i>, el instructor de todo el universo, oró a <i>Svayaṁ Bhagavān</i> <i>Śrī Kṛṣṇa</i> para obtener el servicio de Sus pies de loto, aunque ello significara nacer dentro de las especies de hierbas, arbustos o animales.</p>

<p>Su oración se cita en el <i>Śrīmad Bhāgavatam</i> (10.14.30):</p>

<verse>
  tad astu me nātha sa bhūri-bhāgo
  <br/>
  bhave’tra vānyatra tu vā tiraśchām
  <br/>
  yenāham eko ‘pi bhavaj janānāṁ
  <br/>
  bhūtvā niṣevo tava pāda-pallavam
</verse>

<blockquote>

  Mi amado Señor, Te ruego que me concedas la dicha de ser uno de Tus devotos para que pueda así ocuparme en el servicio de Tus pies de loto, ya sea en esta vida como <i>Brahmā</i> o en la siguiente, e incluso si tengo que nacer entre las especies animales.

</blockquote>

<p><i>Prahlāda Mahārāja</i>, el emperador de los devotos, expresó mejor aún la aspiración de obtener <i>jaiva-dharma</i> en la forma de servicio a <i>Bhagavān</i>, incluso si eso significaba nacer como un animal o en cualquier forma entre las miles de especies:</p>

<verse>
  nātha yoni-sahasreṣu yeṣu yeṣu vrajāmy aham
  <br/>
  teṣu teṣv achalā bhaktir achyutāstu sadā tvayi
</verse>

<blockquote>

  ¡Oh, <i>Achyuta</i> (Señor infalible)!, en cualquiera de las miles de especies en las que me vea forzado a nacer, permite por favor que tenga siempre una devoción incondicional por Ti.

</blockquote>

<p>El autor, <i>Śrīla Bhaktivinoda Ṭhākura</i>, ora también de forma similar en su libro <i>Śaraṇāgati</i>:</p>

<verse>
  kīṭa janma hau yathā tuyā dāsa
  <br/>
  bahir-mukha brahmā-janme nāhi āśa
</verse>

<blockquote>

  Permíteme nacer, aunque sea como un insecto, allí donde se encuentren Tus devotos. No deseo nacer como un <i>Brahmā</i> indiferente a Ti.

  <blockquote-ref>Śaraṇāgati, ātma-nivedana, Canto 3</blockquote-ref>

</blockquote>

<h3>El Jaiva-dharma y todas las entidades vivientes</h3>

<p>Las instrucciones del <i>Jaiva-dharma</i> son, por tanto, dignas de elogio y aceptables para todas las <i>jīvas</i>.</p>

<p>Si colocan esas instrucciones en lo más profundo de su corazón, las entidades vivientes podrán obtener fácilmente el alivio permanente al terrible tormento causado por los invencibles grilletes de la ilusión, y por la fantasmagoría del placer falso y trivial.</p>

<p>Pero además, esas almas se sumergirán en la dicha del servicio a <i>Bhagavān</i> que las capacitará para experimentar la paz suprema y el placer trascendental más sublime.</p>

<h3>Los niveles de conciencia</h3>

<p>Al igual que existen niveles de enseñanza superiores e inferiores dentro del campo del conocimiento laico, hay también niveles de enseñanza superiores e inferiores en el campo de la verdad religiosa; solo personas muy preparadas pueden aceptar el ideal contenido en las enseñanzas avanzadas.</p>

<p>El significado es que los seres humanos son superiores a todas las demás especies de vida.</p>

<p>Existen muchas clases de entidades vivientes aparte de los seres humanos.</p>

<p>La palabra <i>prāṇī</i> (aquello que posee vida) o <i>jīva</i> se refiere a la entidad consciente; no vamos a ocuparnos aquí de los objetos inconscientes o de la materia inerte.</p>

<p>La función natural de la entidad consciente se denomina <i>dharma</i>, que es la función de la conciencia o la naturaleza que surge de la verdadera identidad de cada uno.</p>

<p>El concepto de <i>dharma</i> es inseparable del de conciencia (<i>chetana</i>).</p>

<p>En el <b>Capítulo Dieciséis</b> de este libro se hace un minucioso análisis, acorde con la ciencia moderna, del desarrollo sistemático de la conciencia.</p>

<p>Los seres conscientes, –conocidos como <i>jīvas</i>– cubiertos por la ilusión se encuentran en cinco condiciones:</p>

<ol>

  <li>conciencia cubierta (<i>ācchādita-chetana</i>),</li>

  <li>conciencia atrofiada (<i>saṅkuchita-chetana</i>),</li>

  <li>conciencia en ciernes (<i>mukulita-chetana</i>),</li>

  <li>conciencia floreciente (<i>vikasita-chetana</i>) y</li>

  <li>conciencia plenamente florecida (<i>pūrṇa-vikasita-chetana</i>).</li>

</ol>

<p>Estos cinco niveles de seres vivientes se dividen en dos categorías: entidades inmóviles y entidades móviles.</p>

<p>Se dice que los árboles, las enredaderas, los arbustos, las piedras y otros seres inmóviles poseen una conciencia cubierta.</p>

<p>Las otras cuatro clases de seres conscientes son móviles, mientras que estas entidades no lo son debido a que su conciencia está completamente cubierta.</p>

<p>Los animales y, en general, las <i>jīvas</i> que nacen en otras especies distintas al ser humano se encuentran en los estados de conciencia cubierta y atrofiada.</p>

<p>Las <i>jīvas</i> en las especies humanas están en los niveles de conciencia en ciernes, floreciente y plenamente florecida.</p>

<p>Aunque los seres sensitivos en las tres últimas etapas de conciencia son todos humanos en su apariencia física, se les clasifica en función del desarrollo de su conciencia.</p>

<p>Teniendo esto en cuenta, se considera que la conciencia humana está en un nivel de desarrollo preliminar, intermedio o avanzado.</p>

<p>Sin embargo, los árboles, las enredaderas, los arbustos, los animales y los seres humanos son todos <i>jīvas</i>, y su único <i>dharma</i> es adorar a <i>Bhagavān</i>.</p>

<p>Entre todos ellos, los seres humanos son superiores por tener una conciencia desarrollada, y su <i>dharma</i> especial, que consiste en adorar a <i>Bhagavān</i>, se conoce como <i>jaiva-dharma</i>.</p>

<p>La función de la conciencia depende del grado en el que el conocimiento o la comprensión estén cubiertos.</p>

<h3>La naturaleza humana y el verdadero significado del dharma</h3>

<p>No hay duda de que el ser humano es superior a todas las demás formas de vida terrestre, pero es esencial comprender dónde radica esa superioridad.</p>

<p>No puede decirse que los seres humanos sean superiores a los árboles, las enredaderas, los insectos, las bestias, las aves y los animales acuáticos en cuanto a forma y apariencia, fuerza y destreza, o belleza y encanto, pero son superiores en todos los sentidos a todas las demás especies en cuanto a facultad mental, desarrollo del intelecto y expansión de la conciencia.</p>

<p>Este es el <i>dharma</i> singular que se analiza en el <i>Jaiva-dharma</i>.</p>

<p>Aunque en un sentido general el <i>jaiva-dharma</i> es el <i>dharma</i> de todos los seres vivos, debe entenderse que se refiere específicamente al <i>dharma</i> de las especies humanas, puesto que la competencia especial para el <i>dharma</i> más elevado se encuentra únicamente entre las <i>jīvas</i> que poseen una conciencia altamente desarrollada.</p>

<p>Aquí se podría plantear por qué este libro se titula <i>Jaiva-dharma</i> y no <i>Mānava-Dharma</i> o <i>Manuṣya-Dharma</i> (la religión de los seres humanos), pero si lo analizamos entenderemos que la verdadera función de los seres humanos se encuentra únicamente en el <i>dharma</i>; no existe ningún <i>dharma</i> o religión en otras especies.</p>

<p>Esta es la regla general.</p>

<p>Los árboles, las enredaderas, las piedras y los animales también son <i>jīvas</i>, pero no muestran la tendencia religiosa caracterizada por el deseo de liberación o la adoración a la Suprema Personalidad de Dios.</p>

<p>Algunos filósofos opinan que las entidades vivientes que muestran únicamente atributos animales como la insensatez o la crueldad son en realidad animales.</p>

<p>En virtud de su nacimiento humano, algunas de las <i>jīvas</i> de esa tendencia animal poseen una intuición natural con cierta apariencia de naturaleza humana, pero en realidad no se trata de naturaleza humana, puesto que la disposición humana solo se observa cuando se combinan la tendencia animal con el conocimiento o la racionalidad.</p>

<p>Los que poseen esta disposición humana se conocen como seres humanos.</p>

<p>Nuestros sabios arios han descrito cuatro propensiones en la conducta animal: comer (<i>āhāra</i>), dormir (<i>nidrā</i>), temer (<i>bhaya</i>) y aparearse (<i>maithuna</i>).</p>

<p>La disposición humana se manifiesta solo cuando la persona supera estas propensiones animales y desarrolla racionalidad.</p>

<p>Los filósofos occidentales sostienen también que los hombres son seres racionales, si bien es importante señalar que el significado de racionalidad en la filosofía occidental es bastante limitado.</p>

<p>En la filosofía aria, la palabra <i>dharma</i> tiene un significado muy amplio.</p>

<p>Un solo aspecto de su significado abarca totalmente el concepto occidental filosófico de racionalidad y se extiende mucho más allá hasta incluir la tendencia a adorar a Dios.</p>

<p>El <i>dharma</i> es la verdadera característica que identifica a la naturaleza humana, y se dice que los seres vivientes que carecen de <i>dharma</i> son animales.</p>

<p>En el <i>Hitopadeśa</i> (25) se dice:</p>

<verse>
  āhāra-nidrā-bhaya-maithunaṁ cha
  <br/>
  sāmānyam etat paśubhir narāṇām
  <br/>
  dharmo hi teṣām adhiko viśeṣo
  <br/>
  dharmeṇa hīnaḥ paśubhiḥ samānaḥ
</verse>

<blockquote>

  Los seres humanos son iguales a los animales en lo que respecta a comer, dormir, temer y aparearse, pero la cualidad de la religión es exclusiva de los seres humanos. Sin religión, ellos no son mejores que los animales.

</blockquote>

<p>El significado de este verso es que la propensión natural de los seres humanos es satisfacer sus sentidos mediante los actos de comer, dormir, defenderse y aparearse.</p>

<p>Estas propensiones se observan tanto en los seres humanos como en todas las demás especies.</p>

<p>Sin embargo, los seres humanos solo pueden ser considerados como tales cuando se encuentra en ellos la propensión religiosa.</p>

<p>Las palabras <span class="content-highlight"><i>dharmo hi teṣām adhiko viśeṣaḥ</i></span> indican que ese <i>dharma</i> es la cualidad especial que distingue a los seres humanos de los animales y otras especies.</p>

<p>Aquellos en quienes el <i>dharma</i> está totalmente ausente no pueden ser llamados verdaderamente seres humanos.</p>

<p>Las palabras <span class="content-highlight"><i>dharmeṇa hīnaḥ paśubhiḥ samānaḥ</i></span> quieren decir que las personas que carecen de <i>dharma</i> son como los animales.</p>

<p>Por eso en nuestro país a aquellos que no tienen <i>dharma</i> se les llama ‘personas animalizadas’ (<i>nara-paśu</i>).</p>

<p>Hoy en día las personas han abandonado el <i>dharma</i> y se dedican a comer y a otras formas de disfrute sensual.</p>

<p>Esta inmoderación de los sentidos es la tendencia de los animales o de las especies no humanas.</p>

<p>Debido a la influencia de <i>Kali-yuga</i>, la Era de Hierro, actualmente la humanidad está degradándose cada vez más y retrocediendo hacia la condición animal.</p>

<p>Es por eso que, según las escrituras, hay muy pocas personas hoy en día que puedan ser clasificadas como seres humanos.</p>

<p>Si el autor hubiese titulado este libro <i>Manuṣya-dharma</i>, según la definición que las escrituras hacen de la palabra <i>“humanidad”</i>, la mayoría de las personas no serían aptas para esta práctica.</p>

<p>Por este motivo, <i>Śrīla Bhaktivinoda Ṭhākura</i>, que deseaba el bien de todos, dio a este libro el título más amplio de <i>Jaiva-dharma</i> y preservó así totalmente el criterio de las escrituras.</p>

<p>El <i>dharma</i> o la adoración al Señor es algo que realizan únicamente los seres humanos, no los animales u otras formas de vida.</p>

<p>Por ser la especie más avanzada, los seres humanos están capacitados para comprender las enseñanzas más elevadas o <i>dharma</i>.</p>

<p>El <i>Jaiva-dharma</i> está especialmente diseñado para ser estudiado por ellos.</p>

<h3>La misericordia de Śrī Chaitanya Mahāprabhu y el prema-dharma</h3>

<p>La extraordinaria cualidad de <i>Śrī Chaitanya Mahāprabhu</i> es que es misericordioso hasta con las personas más caídas, a quienes concede la aptitud necesaria para comprender Sus enseñanzas más elevadas.</p>

<p>Esta misericordia no había sido otorgada por ningún otro <i>avatāra</i>.</p>

<p>Por eso Śrīla Rūpa Gosvāmī ha glorificado a <i>Śrīman Mahāprabhu</i> en su obra <i>Vidagdha-mādhava</i> con palabras muy elocuentes (1.2):</p>

<verse>
  anarpita-charīṁ chirāt karuṇayāvatīrṇaḥ kalau
  <br/>
  samarpayitum unnatojjvala-rasāṁ sva-bhakti-śriyam
  <br/>
  hariḥ puraṭa-sundara-dyuti-kadamba-sandīpitaḥ
  <br/>
  sadā hṛdaya-kandare sfuratu vaḥ śachī-nandanaḥ
</verse>

<blockquote>

  Que <i>Śrī Śachīnandana Gaurahari</i>, que resplandece con un brillo más glorioso que el oro, se manifieste por siempre en lo más profundo de nuestros corazones. Por Su misericordia sin causa, Él apareció en la era de hierro para otorgar al mundo la riqueza de Su propio <i>bhakti</i>, la suprema y radiante dulzura del <i>ujjvala-rasa</i>, los sentimientos más confidenciales del servicio a <i>Rādhā</i> y <i>Kṛṣṇa</i> en Su relación conyugal. Esta dádiva extraordinaria no había sido entregada en muchísimo tiempo. Los seres humanos que reciben este regalo pueden liberarse muy fácilmente y para siempre de las ataduras de la energía ilusoria (<i>māyā</i>), y tener la inmensa fortuna de recibir amor puro por <i>Kṛṣṇa</i> (<i>kṛṣṇa-prema</i>).

</blockquote>

<p>El autor de este verso ha captado de un modo efectivo la característica única de <i>Śrīman Mahāprabhu</i>.</p>

<p>En el <b>Undécimo Capítulo</b> del <i>Jaiva-Dharma</i>, el autor establece a través de una conversación entre <i>Mullah Sāhib</i> y los <i>vaiṣṇavas</i> que todos los seres humanos son aptos para el <i>vaiṣṇava-dharma</i>, y apoya esa conclusión mediante el análisis lógico y con la evidencia concluyente de las escrituras.</p>

<p>Los que hablan urdu, farsi, inglés o cualquier otro idioma pueden volverse <i>vaiṣṇavas</i>; no está restringido únicamente a quienes hablan sánscrito.</p>

<p>De hecho, se observa que muchas personas que hablan hindi, bengalí, oriya, asamés, tamil, telegu y otros idiomas indios han alcanzado ya el elevado nivel de <i>vaiṣṇavas</i>.</p>

<p>Cualquier persona, sea cual sea su origen social o religioso, está capacitada para esto.</p>

<h3>Las obras y erudición de Bhaktivinoda Ṭhākura</h3>

<p>La disparidad de idiomas no es ningún impedimento.</p>

<p>En contra de la opinión de quienes pudieran tener algún prejuicio con respecto al idioma, <i>Śrīla Bhaktivinoda Ṭhākura</i> difundió las instrucciones trascendentales de <i>Śrīman Mahāprabhu</i> en muchas lenguas diferentes.</p>

<p>Él escribió aproximadamente cien libros en sánscrito, bengalí, oriya, hindi, urdu e inglés.</p>

<p>A continuación se citan los nombres de algunas de sus obras más importantes junto con las fechas de su publicación.</p>

<ol>

  <li><i>Hari-kathā</i>: Tópicos del Señor <i>Hari</i>, 1850 </li>

  <li><i>Śumbha-Niśumbha-yuddha</i>, 1851 </li>

  <li>Poriade, 1857-58</li>

  <li><i>Maṭhas</i> de Orissa, 1860 </li>

  <li><i>Vijana-grāma</i>, 1863 </li>

  <li><i>Sannyāsī</i>, 1863 </li>

  <li>Nuestras Necesidades, 1863 </li>

  <li><i>Vālide Rejiṣṭrī</i>, 1866 </li>

  <li>Discurso sobre Gautama, 1866 </li>

  <li>El <i>Bhāgavat</i>: Su Filosofía, Su Ética y Su Teología, 1869 </li>

  <li><i>Garbha-stotra-vyākhyā</i>, 1870 </li>

  <li>Meditaciones, 1871 </li>

  <li><i>Ṭhākura Haridāsa</i>, 1871 </li>

  <li>El Templo de <i>Jagannātha</i> en <i>Purī</i>, 1871 </li>

  <li>Los Monasterios de <i>Purī</i>, 1871 </li>

  <li>La Personalidad de Dios, 1871 </li>

  <li>Un Faro de Luz, 1871 </li>

  <li><i>Śaragrāhī Vaiṣṇava</i>, 1871 </li>

  <li>Amar a Dios, 1871 </li>

  <li>Los <i>Atibaḍis</i> de Orissa, 1871 </li>

  <li>El Sistema Marital en Bengala, 1871 </li>

  <li><i>Vedāntādhikaraṇa-mālā</i>, 1872 </li>

  <li><i>Datta-kaustubham</i>, 1874 </li>

  <li><i>Datta-vaṁśa-mālā</i>, 1876 </li>

  <li><i>Bauddha-vijaya-kāvyam</i>, 1878 </li>

  <li><i>Śrī Kṛṣṇa-saṁhitā</i>, 1880 </li>

  <li><i>Śrī Sajjana-toṣaṇī</i>, (revista mensual) 1881 </li>

  <li><i>Kalyāṇa-kalpataru</i>, 1881 </li>

  <li>Revista de <i>Nitya-rūpa-saṁsthāpanam</i>, 1883 </li>

  <li><i>Viśva-Vaiṣṇava-Kalpāṭari</i>, 1885 </li>

  <li><i>Daśopaniṣad-chūrṇikā</i>, 1886 </li>

  <li><i>Bhāvāvali</i> (comentario), 1886 </li>

  <li><i>Rasika-Rañjana</i>, (comentario sobre La <i>Bhagavad-gītā</i>) 1886 </li>

  <li><i>Śrī Chaitanya Śikṣāmṛta</i>, 1886 </li>

  <li><i>Prema-pradīpa</i>, 1886 </li>

  <li><i>Śrī Viṣṇu-sahasra-nāma</i> (publicado) 1886 </li>

  <li><i>Manaḥ-Śikṣā</i> (traducción y comentario), 1886 </li>

  <li><i>Śrī Chaitanya-Upaniṣad</i> (comentario), 1887 </li>

  <li><i>Śrī Kṛṣṇa-vijaya</i> (publicado), 1887 </li>

  <li><i>Vaiṣṇava-siddhānta-mālā</i>, 1888 </li>

  <li><i>Śrī Āmnāya-sūtram</i>, 1890 </li>

  <li><i>Siddhānta-darpaṇam</i> (traducción bengalí), 1890 </li>

  <li><i>Śrī Navadvīpa-dhāma-mahātmya</i>, 1890 </li>

  <li><i>Śrī Godruma Kalpatari</i> (ensayos sobre el nāma-haṭṭa), 1891 </li>

  <li><i>Vidvad-rañjana</i> (comentario de La Bhagavad-gītā), 1891 </li>

  <li><i>Śrī Harināma</i>, 1892 </li>

  <li><i>Śrī Nāma</i>, 1892 </li>

  <li><i>Śrī Nāma-tattva-śikṣāṣṭaka</i>, 1892 </li>

  <li><i>Śrī Nāma-mahimā</i>, 1892 </li>

  <li><i>Śrī Nāma-prachāra</i>, 1892 </li>

  <li><i>Śrīman Mahāprabhura</i> Śikṣā, 1892 </li>

  <li><i>Tattva-vivekaḥ</i> o <i>Śrī Saccidānandānubhūtiḥ</i>, 1893 </li>

  <li><i>Śaraṇāgati</i>, 1893 </li>

  <li><i>Gītāvalī</i>, 1893 </li>

  <li><i>Gītāmālā</i>, 1893 </li>

  <li><i>Śoka-śātana</i>, 1893 </li>

  <li><i>Nāma Bhajana</i>, 1893 </li>

  <li><i>Tattva-sūtram</i>, 1894 </li>

  <li><i>Vedārka-dīdhiti</i> (comentario del <i>Śrī Īśopaniṣad</i>), 1894 </li>

  <li><i>Tattva-muktāvalī</i> o <i>Māyāvāda-śatadūṣaṇī</i> (traducido y publicado), 1894 </li>

  <li><i>Amṛta-pravāha-bhāṣya</i> (comentario del <i>Chaitanya-charitāmṛta</i>), 1895 </li>

  <li><i>Śrī Gaurāṅga-līlā-smaraṇa-maṅgala stotram</i>, 1896 </li>

  <li><i>Śrī Rāmānuja Upadeśa</i>, 1896 </li>

  <li><b><i>Jaiva-Dharma</i></b>, 1896 </li>

  <li><i>Śrī Chaitanya Mahāprabhu</i>, Vida y Preceptos, 1896 </li>

  <li><i>Brahma-saṁhitā</i> (comentario), 1897 </li>

  <li><i>Śrī Goloka-māhātmya</i> (traducción al bengalí del <i>Bṛhad Bhāgavatāmṛta</i>), 1898 </li>

  <li><i>Śrī Kṛṣṇa-karṇāmṛtam</i> (traducción), 1898 </li>

  <li><i>Pīyūṣa-varṭiṇī-vṛtti</i> (comentario del <i>Upadeśāmṛta</i>), 1898 </li>

  <li><i>Śrī Bhājanāmṛtam</i> (traducción y comentario), 1899 </li>

  <li><i>Śrī Navadvīpa-bhāva-taraṅga</i>, 1899 </li>

  <li>Los Ídolos Hindúes, 1899 </li>

  <li><i>Śrī Harināma-cintāmaṇi</i>, 1900 </li>

  <li><i>Śrī Bhāgavata Arka-marīchi-mālā</i>, 1901 </li>

  <li><i>Śrī Saṅkalpa-kalpadrumā</i> (traducción bengalí), 1901 </li>

  <li><i>Śrī Bhajana-rahasya</i>, 1902 </li>

  <li><i>Śrī Prema-vivarta</i> (publicado), 1906 </li>

  <li><i>Svaniyama-dvādaśakam</i>, 1907 </li>

</ol>

<p>De esta relación se desprende que el autor era muy erudito y dominaba a la perfección multitud de lenguas.</p>

<p>Llegados a este punto, creo conveniente hablar sobre un aspecto singular de su vida.</p>

<p>Aunque era un eminente conocedor del pensamiento occidental, estaba completamente libre de las influencias occidentales.</p>

<blockquote>

  Los educadores occidentales dicen: “No me sigan a mí; sigan mis palabras”; o, dicho de otro modo: “No hagan lo que yo hago, sino lo que digo”.

</blockquote>

<p>La conducta de <i>Śrīla Bhaktivinoda Ṭhākura</i> rebate este principio, ya que él aplicó en su propia vida todas las instrucciones de sus libros y fue un vivo ejemplo de ellas.</p>

<p>Por eso sus enseñanzas y el modo en que ejecutaba sus prácticas espirituales (<i>bhajana</i>) reciben el calificativo de “<i>Bhaktivinoda dhāra</i>” (la línea de <i>Bhaktivinoda</i>).</p>

<p>No hay una sola instrucción en sus libros que él no haya seguido personalmente y, por consiguiente, no existe disparidad entre sus escritos y su vida; entre sus actos y sus palabras.</p>

<p>Es natural que los lectores quieran saber acerca de tan notable y excelsa persona poseedora de un carácter tan extraordinario.</p>

<p>Los lectores actuales que desean conocer algún tema en particular, no pueden tener fe en los escritos de un autor sin antes conocerlo.</p>

<p>Por ello escribiré unas palabras acerca de <i>Śrīla Bhaktivinoda Ṭhākura</i>.</p>

<h3>La vida y misión de Śrīla Bhaktivinoda Ṭhākura</h3>

<p>Cuando se habla de las vidas de las <i>mahā-puruṣas</i> (grandes personalidades iluminadas que son trascendentales a la existencia mortal), es un error considerar que su nacimiento, vida y muerte son similares a los de los simples mortales.</p>

<p>Los <i>mahā-puruṣas</i> se encuentran más allá del nacimiento y la muerte; ellos están situados en la existencia eterna, y, cuando se trata de sus idas y venidas en este mundo material, se habla de su advenimiento y su partida.</p>

<p><i>Śrīla Bhaktivinoda Ṭhākura</i> vino a este mundo el domingo 2 de septiembre de 1838, iluminando así el firmamento de la Escuela <i>Vaiṣṇava Gauḍīya</i>.</p>

<p>Nació en una familia de clase alta en un pueblo llamado <i>Vīranagara</i> (también conocido como <i>Ulāgrāma</i> o <i>Ulā</i>), situado en el distrito de <i>Nadiyā</i>, Bengala Occidental, no lejos de <i>Śrīdhāma-Mayapur</i>, el lugar de aparición de <i>Śrī Gaurāṅga</i>.</p>

<p>Desapareció de este mundo el 23 de junio de 1914 en la ciudad de Calcuta.</p>

<p>En ese momento entró en los pasatiempos del mediodía de <i>Śrī Śrī Gāndharvikā- Giridhārī</i>, que son los objetos supremos de adoración para los <i>vaiṣṇavas</i> <i>gauḍīya</i>.</p>

<p>En su corta vida de setenta y seis años, él instruyó al mundo llevando a cabo personalmente los deberes de las cuatro etapas de la vida espiritual (<i>āśramas</i>): vida de estudiante célibe (<i>brahmāchārya</i>), vida religiosa de casado (<i>gṛhastha</i>), abandono de los deberes mundanos (<i>vānaprastha</i>) y renunciación formal (<i>sannyāsa</i>).</p>

<p>Primero pasó por la etapa de estudiante célibe y de allí extrajo diversas y elevadas instrucciones.</p>

<p>Luego se dedicó a la vida de hombre casado y desde allí sentó el ejemplo ideal sobre cómo mantener a los miembros de la familia con medios honestos y nobles.</p>

<p>Todos los casados deberían seguir este ejemplo.</p>

<p>Durante su etapa de casado, <i>Śrīla Bhaktivinoda Ṭhākura</i> viajó por toda la India como un alto cargo del departamento de administración y justicia del gobierno británico en aquel país.</p>

<p>Gracias a su criterio riguroso y a sus inestimables aptitudes administrativas, esta gran personalidad consiguió reglamentar y poner orden incluso en estados donde no existía la ley.</p>

<p>Al tiempo que realizaba sus deberes familiares, sorprendió a todos sus contemporáneos por sus ideales religiosos.</p>

<p>A pesar de tener responsabilidades apremiantes, escribió gran cantidad de libros en distintos idiomas.</p>

<p>En la relación que acabamos de presentar de sus escritos hemos indicado la fecha en que fueron publicados, lo cual nos da una clara idea del extraordinario poder creativo de <i>Bhaktivinoda</i>.</p>

<p>Cuando abandonó sus responsabilidades gubernamentales, <i>Śrīla Bhaktivinoda Ṭhākura</i> adoptó la orden de <i>vānaprastha</i> o abandono de los deberes mundanos e intensificó sus prácticas espirituales.</p>

<p>En esa época, fundó un <i>āśrama</i> en <i>Surabhi-kuñja</i>, en <i>Godrumadvīpa</i>, uno de los nueve distritos de <i>Navadvīpa</i>.</p>

<p><i>Śrīla Bhaktivinoda Ṭhākura</i> vivió allí haciendo <i>bhajana</i> durante un tiempo considerable.</p>

<p>Más adelante, adoptó la vida de asceta y residió cerca de allí en una localidad llamada <i>Svānanda-sukhada-kuñja</i>.</p>

<p>Imitando el ejemplo de <i>Śrī Kṛṣṇa Chaitanya</i> y Sus seguidores, los seis <i>Gosvāmīs</i>, que descubrieron el lugar de nacimiento y otros lugares de los pasatiempos de <i>Śrī Kṛṣṇa</i>, mientras vivió allí estableció el emplazamiento de la aparición de <i>Mahāprabhu</i> y muchos de los lugares donde se desarrollaron Sus pasatiempos.</p>

<p>Si <i>Śrīla Bhaktivinoda Ṭhākura</i> no hubiera aparecido entre nosotros, los lugares de los pasatiempos y las enseñanzas de <i>Śrī Gaurāṅga Mahāprabhu</i> habrían desaparecido del mundo.</p>

<p>Todos los <i>vaiṣṇavas</i> <i>gauḍīya</i> están por tanto eternamente endeudados con él; es por ello que se le ha otorgado el máximo honor de la comunidad <i>vaiṣṇava</i> al ser nombrado el Séptimo <i>Gosvāmī</i>.</p>

<p>Esta gran personalidad (<i>mahā-puruṣa</i>) instruyó al mundo con el ejemplo ideal de su vida personal y también escribiendo libros en diferentes idiomas.</p>

<p>Pero él nos dejó además otra dádiva única, y sería una muestra de ingratitud no mencionarla.</p>

<h3>Śrīla Prabhupāda y la expansión del Gauḍīya-dharma</h3>

<p><i>Śrīla Bhaktivinoda Ṭhākura</i> trajo a una gran personalidad a este mundo que fue el comandante en jefe para la propagación del <i>dharma</i> revelado por <i>Śrī Chaitanya Mahāprabhu</i>.</p>

<p>Esta gran personalidad es mi amado <i>Gurudeva</i>, conocido en todo el mundo con el nombre de <i>Jagad-guru</i> <i>Oṁ Viṣṇupāda Paramahaṁsa-kula-chūḍāmaṇi</i> <i>Aṣṭottara-śata Śrī</i> <i>Śrīmad Bhaktisiddhānta Sarasvatī Gosvāmī Ṭhākura</i>.</p>

<p>Traer a esta <i>mahā-puruṣa</i> al mundo fue un acto incomparable y sin precedentes de <i>Śrīla Bhaktivinoda Ṭhākura</i>.</p>

<p>La comunidad <i>vaiṣṇava</i> honra a <i>Śrīla Bhaktisiddhānta Sarasvatī Ṭhākura</i> con el título más breve de <i>Śrīla Prabhupāda</i>, y a partir de ahora yo también me referiré a este <i>mahā-puruṣa</i> supremamente liberado como <i>Śrīla Prabhupāda</i>.</p>

<p><i>Śrīla Prabhupāda</i> apareció como hijo y también como sucesor de <i>Śrīla Bhaktivinoda Ṭhākura</i>.</p>

<p>Él enarboló en el mundo entero la brillante bandera del <i>dharma</i> <i>Śrī Madhva Gauḍīya Vaiṣṇava</i> que fuera practicado y propagado por <i>Śrīman Mahāprabhu Śrī Chaitanyadeva</i>, y con ello hizo un inmenso bien y dio un enorme impulso a todo el mundo religioso.</p>

<p>Los países occidentales y orientales lejanos como Estados Unidos, Inglaterra, Alemania, Francia, Suiza, Suecia y Birmania no se vieron tampoco privados de su misericordia.</p>

<p>Él estableció sesenta y cuatro centros de prédica de la <i>Gauḍīya Maṭha</i> en la India y por todo el mundo, desde los cuales propagó las enseñanzas de <i>Śrī Chaitanya</i>.</p>

<p>También hizo circular todos los libros de <i>Śrīla Bhaktivinoda Ṭhākura</i> estableciendo así su incomparable fama por el mundo entero.</p>

<h3>Las apasampradāyas y las desviaciones del Gauḍīya-dharma</h3>

<p>La influencia del tiempo y el virulento ataque de la era de hierro habían infiltrado en el <i>dharma</i> <i>gauḍīya</i> <i>vaiṣṇava</i> diversas clases de corrupción y falsas doctrinas, y como resultado de ello surgieron trece sectas desvirtuadas (<i>apasampradāyas</i>) que se nombran en este <i>śloka</i>:</p>

<verse>
  āula, bāula, kartābhajā, neḍā, daraveśa, sāṅi,
  <br/>
  sahajiyā, sakhībhekī, smārta, jāta-gosāñi,
  <br/>
  ativāḍī, chūḍādhārī, gaurāṅga-nāgarī
  <br/>
  totā kahe, ei tera’ra saṅga nāhi kari
</verse>

<blockquote>

  <i>Totā</i> dice que no se asociará con estas trece apasampradāyas: <i>āula</i>, <i>bāula</i>, <i>kartābhajā</i>, <i>neḍā</i>, <i>daraveśa</i>, <i>sāṅi</i>, <i>sahajiyā</i>, <i>sakhībhekī</i>, <i>smārta</i>, <i>jāta-gosāñi</i>, <i>ativāḍī</i>, <i>chūḍādhārī</i>, y <i>gaurāṅga-nāgarī</i>.

</blockquote>

<p>Con su prédica y con la publicación de los libros de <i>Śrīla Bhaktivinoda Ṭhākura</i>, <i>Śrīla Prabhupāda</i> contuvo de manera significativa las abominables actividades de estas <i>apasampradāyas</i>.</p>

<p>A pesar de ello, y debido a la influencia de <i>Kali</i>, la era de hierro, la comida, el ocio y la seguridad material tienden por desgracia a convertirse en el principal interés de cualquier secta religiosa, cuando en realidad no son más que diferentes nombres para propensiones animales o la expansión de conductas animales, como ya comentamos.</p>

<p>En el <i>Jaiva-dharma</i> se hace una minuciosa descripción de la naturaleza del <i>dharma</i>, nuestra relación con el <i>dharma</i>, el resultado de seguir el <i>dharma</i>, el verdadero significado del <i>dharma</i>, el hecho de que la supuesta religión impulsada por <i>Kali</i> no es en absoluto <i>dharma</i>, y muchos otros temas.</p>

<p>De hecho, se puede conocer el significado de todas las escrituras de forma condensada si se lee esta densa obra que contiene un análisis comparativo de todas las religiones del mundo en forma de preguntas y respuestas.</p>

<p>En resumen, diré que este pequeño libro engloba la esencia de todas las escrituras de la India, y no sería exagerado afirmar que, a menos que las personas de mente religiosa lo lean, habrá sin duda una laguna en sus vidas en cuanto al conocimiento filosófico sobre las verdades espirituales se refiere.</p>

<p>Invito a los lectores a que consulten la tabla de contenidos para que se hagan una idea del alcance de los temas espirituales tratados.</p>

<h3>Sambandha, abhidheya y prayojana</h3>

<p>El autor ha mantenido la metodología establecida por las escrituras explicando la verdad en relación con tres procesos: el <i>sambandha</i>, el <i>abhidheya</i> y el <i>prayojana</i>.</p>

<p>Los temas espirituales deben siempre presentarse en este orden, comenzando con el <i>sambandha</i> (establecimiento del conocimiento de la relación con <i>Kṛṣṇa</i>), luego el <i>abhideya</i> (dedicación a los medios para despertar el amor por <i>Śrī Kṛṣṇa</i>) y finalmente el <i>prayojana</i> (obtención del objetivo del amor por <i>Śrī Kṛṣṇa</i>).</p>

<p>Algunos autores inexpertos alteran ese orden, pero esto va totalmente en contra de las conclusiones de los <i>Vedas</i>, las <i>Upaniṣads</i>, las <i>Purāṇas</i>, el <i>Mahābhārata</i> y, especialmente, el <i>Śrīmad Bhāgavatam</i>, la joya cumbre de toda evidencia espiritual.</p>

<p>En la primera parte de este libro se analizan los deberes religiosos eternos relacionados con la naturaleza real del alma (<i>nitya-dharma</i>) y los deberes religiosos ocasionales o temporales relacionados con las obligaciones morales en este mundo (<i>naimittika-dharma</i>); en la segunda parte se hace una descripción exhaustiva de las verdades del <i>sambandha</i>, el <i>abhidheya</i> y el <i>prayojana</i> sólidamente fundamentada en las escrituras, y en la tercera parte se nos ofrece un agudo diálogo sobre la naturaleza de las trascendentales y confidenciales dulzuras de la <i>bhakti</i> (<i>rasa</i>).</p>

<h3>El peligro de abordar prematuramente los temas confidenciales</h3>

<p>De acuerdo con la línea de pensamiento de <i>Śrīla Prabhupāda</i>, no se deben describir esos asuntos confidenciales hasta haber adquirido una calificación más elevada.</p>

<p>El practicante (<i>sādhaka</i>) carente de aptitud que haga un intento no autorizado de adentrarse en dichos temas frenará su progreso en lugar de impulsarlo.</p>

<p><i>Śrīla Prabhupāda</i> expresó esto claramente en numerosos artículos como el <i>Bhāī Sahajiyā</i> (<span class="content-highlight">“Mi hermano que abarata la santidad de la vida espiritual equiparando sus instintos materiales con emociones espirituales”</span>) y <i>Prākṛta-rasa-śata-dūṣaṇī</i> (<span class="content-highlight">“Cien objeciones a las dulzuras materiales pervertidas”</span>).</p>

<p>Por lo tanto, se debe ser muy cuidadoso respecto a esto.</p>

<h3>La traducción, edición y propósito de esta obra</h3>

<p>El <i>Jaiva-dharma</i> original fue escrito en bengalí, pero se utilizó mucho el sánscrito debido a que contiene multitud de citas de las escrituras.</p>

<p>En muy poco tiempo se han publicado en bengalí al menos doce grandes ediciones de este libro, lo cual demuestra su popularidad.</p>

<p>La presente edición en hindi se ha impreso según el sistema utilizado para la edición más reciente del <i>Jaiva-dharma</i> en bengalí publicada en un nuevo formato por la Gauḍīya Vedānta Samiti.</p>

<p><i>Tridaṇḍi Svāmī Śrī</i> <i>Śrīmad Bhaktivedānta Nārāyaṇa Mahārāja</i>, el muy competente editor de la revista espiritual mensual ‘<i>Śrī Bhāgavata Patrikā</i>’, ha realizado notables esfuerzos para traducir este libro al hindi y lo ha publicado en la revista en <span class="content-highlight"><b>una serie de artículos a lo largo de seis años</b></span>.</p>

<p>La petición reiterada de muchos lectores fieles le hizo publicar esos artículos en forma de libro para beneficio de la población religiosa de habla hindi. En relación con esto quisiera también señalar que la lengua materna de nuestro muy distinguido traductor es el hindi, y que aprendió el bengalí para estudiar este libro. Después de dominar completamente tanto el idioma como la materia, aceptó la difícil e ingente tarea de traducir el texto al hindi.</p>

<p>Me siento profundamente satisfecho de que haya preservado de manera tan experta la rigurosa filosofía, el profundísimo análisis del <i>rasa</i>, y los elevados y sutiles sentimientos del libro original. Todas las personas de habla hindi estarán por siempre endeudadas con él por este monumental trabajo.</p>

<p><i>Śrīla Prabhupāda</i> y <i>Bhaktivinoda Ṭhākura</i>, en particular, derramarán sin duda su misericordia sobre él por su inestimable esfuerzo.</p>

<p>Debo decir, por encima de todo, que si se ha utilizado mi nombre en relación con la edición de este libro es únicamente por el afecto que sienten hacia mí los practicantes implicados en su producción.</p>

<p>En realidad ha sido <i>Tridaṇḍi Svāmī Śrī</i> <i>Śrīmad Bhaktivedānta Nārāyaṇa Mahārāja</i>, el traductor y editor, quien ha realizado todo el trabajo editorial, y es por tanto objeto de mi especial afecto y mis bendiciones.</p>

<p>Tengo la absoluta certeza de que, tanto el público fiel como los sabios eruditos de este país, al estudiar esta obra adquirirán conocimiento sobre las verdades fundamentales del <i>sambandha</i>, el <i>abhideya</i> y el <i>prayojana</i> que fueron practicados y predicados por <i>Śrī Chaitanya Mahāprabhu</i> y, al hacerlo, desarrollarán la aptitud para entrar en el <i>prema-dharma</i> de <i>Śrī Śrī Rādhā-Kṛṣṇa</i> y <i>Śrī Chaitanya Mahāprabhu</i>.</p>

<p>Oro para que los lectores derramen sobre nosotros abundantes bendiciones leyendo este libro con gran atención.</p>

<p>Śrī Keśavajī Gauḍīya Maṭha<br/>Mathurā, U.P., 1966</p>

<p><i>Śrīla Prabhupāda Kiṅkara</i><br/><i>Tridaṇḍi-bhikṣu Śrī Bhakti Prajñāna Keśava</i></p>

<hr/>

<h2>Chaitanya Mahāprabhu</h2>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/1102922a3c9ca2c6.avif" width="829" height="1239" alt="">
</figure>

<blockquote>

  <i>Kṛṣṇa</i> aparece como un <i>gṛhastha</i> de tez dorada. Su cuerpo, del color del oro fundido, es extraordinariamente hermoso. Está decorado con pasta de sándalo y canta sin cesar “<i>Kṛṣṇa</i>”. Aceptó la orden de <i>sannyāsa</i> y es siempre ecuánime. Tiene el firme propósito de difundir el <i>harināma saṅkīrtana</i>, y derrota a los filósofos impersonalistas que se oponen al <i>bhakti</i>. <i>Chaitanya Mahāprabhu</i> es la morada suprema de la paz y la devoción.

  <blockquote-ref>Śrī Chaitanya Charitāmṛta, Adī līlā (3.49)</blockquote-ref>

</blockquote>

<hr/>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/c8d39b0d0b218d24.avif" width="525" height="811" alt="">
</figure>

<p><i>Śrī Rādhā Kṛṣṇa</i> disfrutan sin cesar con Su juego amoroso en los <i>nikuñjas</i>. <i>Vṛṇda-devī</i>, que ha experimentado la excelencia del <i>anurāga</i> que poseen, dice a <i>Kṛṣṇa</i>:</p>

<blockquote>

  “¡Oh, rey de los elefantes loco que juegas en los bosquecillos de la Colina de <i>Govardhan</i>! Hay un artista experto llamado <i>śṛṅgāra-rasa</i> que ha derretido los corazones de laca de Ustedes dos en el fuego generado por el calor de Sus <i>bhāvas</i> y los ha transformado en uno. Luego ha mesclado eso con grandes cantidades del <i>kuṅkuma</i> de ese <i>rāga</i> de ambos siempre nuevo, y esta pintando un cuadro en los muros interiores del gran templo del universo.”

</blockquote>

<hr/>

</div>