<!-- generate_site:meta created="2026-09-14T18:52:12.664545" hash="8c749c618c9207305e1e9121221603277122786f8a21a117610aa936411e3db8" -->
<h1>Prólogo a la tercera edición en hindi</h1>

<p class="subtitle">Por Śrī Śrīmad Bhaktivedānta Nārāyaṇa Gosvāmī Mahārāja</p>

<p>Me siento muy complacido de que la <i>Gauḍīya Vedānta Samiti</i> presente ante el público la tercera edición en hindi del <i>Jaiva-dharma</i>.</p>

<p>Me preocupaba mucho el hecho de que este libro no estuviera disponible en hindi, por lo que su publicación ha satisfecho un antiguo anhelo.</p>

<p>El <i>Jaiva-dharma</i> original, escrito en bengalí, es un tesoro inestimable para todos los <i>vaiṣṇavas</i> que hablan dicho idioma.</p>

<p>Su autor, <i>Śrīla Bhaktivinoda Ṭhākura</i>, es un asociado confidencial de <i>Śrī Chaitanya Mahāprabhu</i> y es también conocido como el Séptimo <i>Gosvāmī</i>.</p>

<p>Él reinició el servicio devocional (<i>bhakti</i>) puro revelado por <i>Svayaṁ Bhagavān</i> <i>Śrī Chaitanya Mahāprabhu</i> para la comunidad <i>vaiṣṇava</i> actual como si de la poderosa corriente del sagrado Ganges se tratara.</p>

<p><i>Bhaktivinoda Ṭhākura</i> escribió más de cien libros acerca de la <i>bhakti</i> en varios idiomas.</p>

<p>Este libro, el <i>Jaiva-dharma</i>, ha aparecido en una nueva era en el campo de la filosofía y la religión.</p>

<p>La presente edición en hindi fue realizada bajo la dirección de mi reverenciado y sagrado maestro, <i>Śrī Gurupādapadma</i> <i>Oṁ Viṣṇupāda 108 Śrī</i> <i>Śrīmad Bhakti Prajñāna Keśava Gosvāmī Mahārāja</i>, guardián de la línea de sucesión discipular (<i>sampradāya</i>) <i>Śrī Brahma-Madhva-Gauḍīya</i>, quien satisfizo así los profundos deseos de <i>Śrīla Bhaktivinoda Ṭhākura</i>, <i>Śrīla Gaura-kiśora dāsa Babaji Mahārāja</i> y <i>Śrīla Bhaktisiddhānta Sarasvatī Ṭhākura</i>.</p>

<p>Él es un preceptor espiritual (<i>āchārya</i>) de la línea de sucesión discipular procedente de <i>Śrī Chaitanya Mahāprabhu</i>, y el fundador de la <i>Śrī Gauḍīya Vedānta Samiti</i> y de sus ramas que se extienden por toda la India.</p>

<p>Por su ilimitada misericordia sin causa, su inspiración y su orden directa, y a pesar de no estar en modo alguno cualificado, he podido traducir este libro saturado de rigurosa filosofía, y de profundas y confidenciales verdades acerca de la adoración a <i>Bhagavān</i>.</p>

<p>En esta traducción he procurado, en la medida de lo posible, conservar la elevada y sumamente compleja filosofía así como también los sutiles sentimientos relacionados con el análisis del <i>rasa</i> (las emociones de la devoción) empleando un lenguaje claro y fácil de entender.</p>

<p>Si lo he logrado o no es algo que deberán juzgar los lectores.</p>

<p>El valor que pueda tener este esfuerzo debe ser atribuido exclusivamente a los pies de loto de <i>Śrī Guru</i>.</p>

<p>La traducción en hindi del <i>Jaiva-dharma</i> fue publicada por primera vez –y a lo largo de seis años– en una serie de artículos dentro de la revista mensual <i>Śrī Bhāgavat-patrikā</i>.</p>

<p>Entusiasmados con la obra, los lectores fieles me pidieron insistentemente que la publicara también como un libro independiente.</p>

<p>Nuestra segunda edición del <i>Jaiva-dharma</i> apareció en formato de libro para beneficio del fiel público de habla hindi y para regocijo de los devotos puros.</p>

<p>La edición se agotó enseguida y hubo que presentar una tercera edición para satisfacer el profundo interés y la demanda de los lectores.</p>

<p>Aunque mi reverenciado y santo maestro Śrī āchāryadeva ha escrito una introducción muy elaborada en el prefacio editorial en la que señala las características únicas del libro, de su autor y de otros temas importantes, no puedo contener mi propio entusiasmo por añadir unas palabras sobre esta materia.</p>

<p>Pido encarecidamente a los lectores que estudien la introducción con detenimiento antes de leer el libro.</p>

<p>Estoy convencido de que al hacerlo obtendrán unas directrices claras sobre el modo de profundizar en la verdad de la realidad suprema.</p>

<p>El concepto <i>jaiva-dharma</i>, se refiere a la función constitucional (<i>dharma</i>) de la entidad viviente (<i>jīva</i>).</p>

<p>Si nos guiamos por las apariencias externas, los seres humanos parecen tener diferentes religiones dependiendo del país, la casta, la raza, etc., y parece haber también diversidad en lo que respecta a la naturaleza constitucional de los seres humanos, los animales y las demás entidades vivientes, pero en realidad todos los seres vivos de todo el universo tienen un solo <i>dharma</i> eterno e inmutable.</p>

<p>En el <i>Jaiva-dharma</i> se ofrece una convincente descripción de este <i>dharma</i> que es imperecedero y aplicable en todo lugar, en todo tiempo y a todos los seres vivos.</p>

<p>De forma muy concisa, este libro nos revela la esencia de los muy profundos y confidenciales temas de los <i>Vedas</i>, el <i>Vedānta</i>, las <i>Upaniṣads</i>, el <i>Śrīmad Bhāgavatam</i>, las <i>Purāṇas</i>, el <i>Brahmā-sūtra</i>, el <i>Mahābhārata</i>, los <i>Itihāsas</i>, el <i>Pañcarātra</i>, los <i>Ṣaṭ-sandarbhas</i>, el <i>Śrī Chaitanya-charitāmṛta</i>, el <i>Bhakti-rasāmṛta-sindhu</i>, el <i>Ujjvala-nīlamaṇi</i> y otras escrituras védicas ejemplares.</p>

<p>Además, está escrito en forma de una novela agradable, entretenida y fácilmente comprensible.</p>

<p>En el <i>Jaiva-dharma</i> se hace un análisis preciso y sin precedentes de numerosos asuntos fundamentales como son las verdades relativas a la Suprema Personalidad de Dios (<i>bhāgavata-tattva</i>), a las entidades vivientes (<i>jīva-tattva</i>) y a las energías del Señor (<i>śakti-tattva</i>), o los estados condicionado y liberado de las <i>jīvas</i>.</p>

<p>También se hace un estudio comparativo de la naturaleza de la acción fruitiva (<i>karma</i>), el conocimiento impersonal (<i>jñāna</i>) y la devoción (<i>bhakti</i>); hay una discusión concluyente y significativa sobre las características distintivas del servicio devocional regulado y espontáneo (<i>vaidhī</i> y <i>rāgānugā-bhakti</i>), y se muestra la excelencia suprema del canto del santo nombre.</p>

<p>Todos estos temas se tratan en función del conocimiento de la relación con la Suprema Personalidad de Dios (<i>sambandha</i>), los medios para obtener amor por Él (<i>abhidheya</i>) y el objetivo de amarle (<i>prayojana</i>).</p>

<p>Antes de la edición en bengalí del <i>Jaiva-dharma</i> publicada por la <i>Gauḍīya Vedānta Samiti</i>, todas las ediciones del <i>Jaiva-dharma</i> publicadas por <i>Śrīla Bhaktivinoda Ṭhākura</i>, <i>Śrīla Bhaktisiddhānta Sarasvatī Prabhupāda</i> y los <i>āchāryas vaiṣṇavas</i> <i>gauḍīya</i> posteriores de la misma línea incluyen la sección sobre el <i>rasa-vichāra</i> (estudio detallado de los aspectos confidenciales y trascendentales de la <i>bhakti</i>).</p>

<p>No obstante, nuestro venerado y santo maestro, <i>Śrīla Gurupāda-padma</i>, publicó por razones específicas una edición que contenía únicamente las dos primeras partes del libro que tratan de la función temporal y eterna del alma, y de la relación, la práctica y el objetivo (<i>sambandha</i>, <i>abhidheya</i> y <i>prayojana</i>) respectivamente, y dejó sin editar la tercera parte que trata sobre el <i>rasa-vichāra</i>.</p>

<p>Más tarde, sin embargo, cuando la <i>Śrī Keśavajī Gauḍīya Maṭha</i> iba a publicar su edición en hindi en <i>Mathurā</i>, <i>Śrīla Gurupāda-padma</i> revisó personalmente todo el libro.</p>

<p>En su introducción a esa edición, él solicitaba entonces claramente a sus lectores que se cuestionaran si estaban o no preparados antes de proceder al estudio cuidadoso de la tercera parte del libro que trata del <i>rasa-vichāra</i>.</p>

<p>Por lo tanto, al publicar en la segunda edición las tres partes completas, pensé que no era necesario hacer ninguna otra aclaración.</p>

<p>Cuando escribía el <i>Śrī Chaitanya-charitāmṛta</i>, <i>Śrī Kṛṣṇa dāsa Kavirāja Gosvāmī</i> dudó sobre si debía o no incluir en él la discusión sobre el <i>rasa-vichāra</i>, ya que las personas menos preparadas podían verse perjudicadas al leerla.</p>

<p>Finalmente, decidió incluir el <i>rasa-vichāra</i> en el libro manifestando con sus propias palabras lo siguiente:</p>

<verse>
  e saba siddhānta gūḍha, —kahite nā yuyāya
  <br/>
  nā kahile, keha ivahāra anta nāhi pāya
</verse>

<blockquote>

  Las conclusiones esotéricas y confidenciales relativas a los pasatiempos amorosos de <i>Rasarāja Śrī Kṛṣṇa</i> con las pastorcillas de <i>Vraja</i> (<i>gopīs</i>), que son la personificación del nivel más elevado de amor divino (<i>mahābhāva</i>), no deben ser reveladas al hombre común ordinario.

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Ādi-līlā, 4.231</blockquote-ref>

</blockquote>

<verse>
  ataeva kahi kichu kariñā nigūḍha
  <br/>
  bujhibe rasika bhakta, nā bujhibe mūḍha
</verse>

<blockquote>

  Pero si no se revelan, nadie podrá profundizar en estos temas. Describiré por tanto estos asuntos de forma velada de manera que lo entiendan los devotos que saborean el más alto grado de amor divino (<i>rasika-bhaktas</i>) y no los necios ineptos.

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Ādi-līlā, 4.232</blockquote-ref>

</blockquote>

<verse>
  hṛdaye dharaye ye chaitanya-nityānanda
  <br/>
  e-saba siddhānte sei pāibe ānanda
</verse>

<blockquote>

  Quienquiera que haya instalado a <i>Śrī Chaitanya Mahāprabhu</i> y a <i>Śrī Nityānanda Prabhu</i> en su corazón, alcanzará una dicha trascendental al escuchar estas conclusiones.

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Ādi-līlā, 4.233</blockquote-ref>

</blockquote>

<verse>
  e saba siddhānta haya āmrera pallava
  <br/>
  bhakta-gaṇa-kokilera sarvadā vallabha
</verse>

<blockquote>

  Toda esta doctrina es tan dulce como brotes de mango; solo pueden ser saboreados por los devotos, que se parecen así a los pájaros cuclillos.

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Ādi-līlā, 4.234</blockquote-ref>

</blockquote>

<verse>
  abhakta-uṣṭrera ithe nā haya praveśa
  <br/>
  tabe chitte haya more ānanda-viśeṣa
</verse>

<blockquote>

  Para los no devotos que son como camellos, no hay posibilidad de admisión en estos temas. Por tanto, hay un gozo especial en mi corazón.

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Ādi-līlā, 4.235</blockquote-ref>

</blockquote>

<verse>
  ye lāgi kahite bhaya, se yadi nā jāne
  <br/>
  ihā va-i kibā sukha āche tribhuvane
</verse>

<blockquote>

  Por miedo a ellos no quiero hablar, pero si no lo entienden, ¿qué puede existir que sea más feliz en los tres mundos?

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Ādi-līlā, 4.236</blockquote-ref>

</blockquote>

<verse>
  ataeva bhakta-gaṇe kari namaskāra
  <br/>
  niḥśaṅke kahiye, tāra hauk chamatkāra
</verse>

<blockquote>

  Por lo tanto, después de presentar mis reverencias a los devotos, para su satisfacción hablaré sin reservas.

  <blockquote-ref>Śrī Chaitanya-charitāmṛta, Ādi-līlā, 4.237</blockquote-ref>

</blockquote>

<p>Siempre es inadecuado divulgar abiertamente los detalles confidenciales del amor extático por <i>Kṛṣṇa</i> que poseen los asociados de <i>Vraja</i> (<i>vraja-rasa</i>), pero si este sagrado misterio no se explica detalladamente hay muchas probabilidades de que desaparezca.</p>

<p>Aunque haya árboles de <i>nīma</i> y de mango juntos en un mismo jardín, el cuervo se posará sobre un árbol de <i>nīma</i> y tomará sus frutos amargos, mientras que el cuclillo, que sabe distinguir los sabores, se posará sobre el árbol de mango y saboreará sus dulces brotes y flores.</p>

<p>Es acertado, por tanto, presentar el <i>rasa-vichāra</i>.</p>

<p>Dentro del mundo de la literatura en hindi no había habido hasta ahora ningún libro tan extraordinariamente selecto y amplio que, por medio de análisis comparativos, informara a la gente sobre las conclusiones filosóficas más elevadas y los excelsos métodos de adoración presentes en el <i>dharma vaiṣṇava</i>.</p>

<p>El <i>Jaiva-dharma</i> ha llenado esta laguna y marcará una nueva era en los terrenos filosófico y religioso, y, particularmente, en el ámbito del <i>vaiṣṇavismo</i>.</p>

<p><i>Śrī Śrīmad Bhaktivedānta Nārāyaṇa Gosvāmī Mahārāja</i><br/><i>Śrī Keśavajī Gauḍīya Maṭha</i>, Mathurā, U.P., 1989</p>

<hr/>

<div class="footer-author geek-stats accordion-stop">
  <div class="footer-author-title">
    <strong>Presentación: ii — Prólogo a la tercera edición en hindi</strong>
  </div>
  <div class="footer-author-text">
    <b>Temas:</b> <span class="stat-val">1</span> (principales:<span class="stat-val">1</span>, secundarios:<span class="stat-val">0</span>)<br/>
    <b>Contenido:</b> párrafos <span class="stat-val">42</span>, palabras: <span class="stat-val">1665</span><br/>
    <b>Diseños:</b> imágenes: <span class="stat-val">0</span>, diagrámas: <span class="stat-val">0</span><br/>
    <b>Tiempo de lectura:</b> <span class="stat-val">15 min, 25 seg</span><br/>
    <b>Presentación creada el:</b> <span class="stat-val">2026-09-14, 18:52</span>
  </div>
</div>