<!-- generate_site:meta created="2026-08-30T00:09:38.143251" hash="a3bc6de7e46149eafa58ebda3ae04312b23f1c24a2197567c6109c2d055052fc" -->
<div class="footer-author geek-stats accordion-stop">
  <div class="footer-author-title" style="font-weight:400;">
    <b>Estadísticas:</b> Janmāṣṭamī — Las causas del avatāra de Kṛṣṇa
  </div>
  <div class="footer-author-text"><b>Idioma original:</b> Hindi<br/>
    <b>Traducido por:</b> Nitāy<br/>
    <b>Fecha original:</b> <span class='stat-val'>1997-09-06, Mathurā</span><br/>
    
    <b>Temas:</b> <span class="stat-val">3</span> (principales:<span class="stat-val">1</span>, secundarios:<span class="stat-val">2</span>)<br/>
    <b>Contenido:</b> párrafos <span class="stat-val">114</span>, palabras: <span class="stat-val">2238</span><br/>
    <b>Diseños:</b> imágenes: <span class="stat-val">1</span>, diagrámas: <span class="stat-val">0</span><br/>
    <b>Tiempo de lectura:</b> <span class="stat-val">20 min, 55 seg</span><br/>
    <b>Presentación creada el:</b> <span class="stat-val">2026-08-30, 00:09</span>
  </div>
</div>

<div id="content-body">

<h1>Las causas del avatāra de Kṛṣṇa</h1>

<p><b>Śrīla Nārāyaṇa Gosvāmī Mahārāja:</b> Hoy, de manera especial estamos celebrando la aparición de Śrī Kṛṣṇa, <i>Janmāṣṭamī</i> llega todos los años, pero este año hay <i>jayantī-yoga</i>. ¿Qué día es hoy?</p>

<p><b>Devoto:</b> Lunes.</p>

<p><b>Śrīla Nārāyaṇa Gosvāmī Mahārāja:</b> Lunes. Por la noche habrá <i>Rohiṇī-nakṣatra-yoga</i>. Hay <i>abhijit muhūrta</i>, es el mes de <i>Bhādra</i> y es <i>aṣṭamī tithi</i>.</p>

<p>Los <i>tithis</i> y <i>yogas</i> que había en el momento del nacimiento de <i>Kṛṣṇa</i>, casi todos esos <i>yogas</i> se han reunido juntos este año. Es un <i>yoga</i> raro. Y en este <i>yoga</i> raro todos ustedes han llegado a <i>Mathurā</i>. Esto no es poca fortuna. Todos ustedes están vivos y presentes aquí. Por eso somos muy afortunados.</p>

<h3>¿Quién es este Kṛṣṇa?</h3>

<p>Los <i>Vedas</i>, las <i>Upaniṣads</i>, los <i>nigamas</i>, los <i>āgamas</i>, los <i>Purāṇas</i> y los <i>Yāmalas</i>, todos a una sola voz dicen que Él es la frontera última del <i>Parabrahman</i>, del <i>paramatattva</i>.</p>

<p>Por eso en el <i>Śrīmad-Bhāgavatam</i> se dice:</p>

<verse>
  ete chāṁśa-kalāḥ puṁsaḥ
  <br/>
  kṛṣṇas tu bhagavān svayam
  <br/>
  indrāri-vyākulaṁ lokaṁ
  <br/>
  mṛḍayanti yuge yuge
  <verse-ref>Śrīmad-Bhāgavatam (1.3.28)</verse-ref>
</verse>

<blockquote>

  Entre todos los <i>avatāras</i> mencionados anteriormente, algunos son <i>aṁśāvatāras</i> del <i>Puruṣottama Bhagavān Śrī Hari</i>, algunos son <i>kalāvatāras</i> y algunos son <i>śaktyāveśa-avatāras</i>. En cada <i>yuga</i>, cuando el mundo es afligido por los <i>asuras</i>, estos <i>avatāras</i> se manifiestan para proteger el mundo de las perturbaciones de los <i>asuras</i>. Pero <i>Vrajendranandana Śrī Kṛṣṇa</i> es directamente <i>Svayaṁ-Bhagavān</i> (el <i>avatārī</i>).

</blockquote>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/7cdee04bea801608.avif" width="736" height="888" alt="">
</figure>

<p>También en el <i>Gītā</i> se dice:</p>

<verse>
  mattaḥ parataraṁ nānyat
  <br/>
  kiñchid asti dhanañjaya
  <br/>
  mayi sarvam idaṁ protaṁ
  <br/>
  sūtre maṇi-gaṇā iva
  <verse-ref>Śrīmad-Bhagavad-gītā (7.7)</verse-ref>
</verse>

<blockquote>

  “¡Oh conquistador de riquezas (Arjuna)! No hay verdad superior a Mí. Todo reposa en Mí, tal como perlas perlas ensartadas en un hilo.”

</blockquote>

<p>¿Qué hace <i>Brahman</i>?</p>

<p>¿<i>Brahman</i> hace <i>Brahman</i>?</p>

<p>Ese <i>Brahman</i> es solo el resplandor de una de Sus <i>aṅgas</i>.</p>

<p>¿De cuál <i>aṅga</i>?</p>

<p>¿Del <i>mukhāravinda</i>? No. Es solo el resplandor de la <i>candrikā</i> de la uña del dedo meñique de Sus pies.</p>

<p>Por eso en el <i>Gītā Kṛṣṇa</i> dice:</p>

<verse>
  brahmaṇo hi pratiṣṭhāham
  <br/>
  amṛtasyāvyayasya cha
  <br/>
  śāśvatasya cha dharmasya
  <br/>
  sukhasyaikāntikasya cha
  <verse-ref>Śrīmad-Bhagavad-gītā (14.27)</verse-ref>
</verse>

<blockquote>

  “Y Yo soy el fundamento del Brahman impersonal, el cual es la posición consticucional de la felicidad última y que es immortal, imperecedero y eterno.”

</blockquote>

<p><span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-1">GVP</span><span class="gloss-tooltip-content" id="gloss-1" role="tooltip" inert>Porque Yo soy la <i>pratiṣṭhā</i> (el refugio) del (<i>nirviśeṣa</i>) <i>Brahman</i>, del <i>mokṣa avyaya</i>, del <i>sanātana dharma</i> y del <i>sukha</i> en forma de <i>prema</i> relacionado con la <i>ekāntika bhakti</i>.</span></p>

<p>Debido a la mención repetida de <i>Brahman</i> como ‘<i>ānandamaya puruṣa</i>’, debe entenderse que la palabra ‘<i>ānandamaya</i>’ se refiere a <i>Brahman</i>.</p>

<p>Es decir, practiquen al <i>ānandamaya</i>, hagan <i>bhajana</i> una y otra vez. Ahora digan, ¿puede <i>Brahman</i> ser <i>ānandamaya</i>?</p>

<p>Si Él, Kṛṣṇa mismo es <i>Brahman</i>, entonces será <i>ānandamaya</i>.</p>

<p>De lo contrario, aquel cuyo <i>svarūpa</i> no existe, que no tiene forma ni apariencia, que no tiene ninguna <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-2"><i>guṇa</i></span><span class="gloss-tooltip-content" id="gloss-2" role="tooltip" inert>modalidad material</span> ni ninguna <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-3"><i>durguṇa</i></span><span class="gloss-tooltip-content" id="gloss-3" role="tooltip" inert>cualidades negativas</span>, ninguna especialidad, que es solo cero (<i>śūnya</i>), ¿cómo va a ser <i>ānandamaya</i>?</p>

<p>¿Cuál será su práctica?</p>

<p>Por eso esto es completamente incorrecto.</p>

<h3>En Él no hay ninguna guṇa</h3>

<p>Si ustedes están sufriendo algún <i>duḥkha</i> (sufrimiento) o <i>kaṣṭa</i> (adversidad), y ese <i>Brahman</i> ni siquiera se entera de ello, ¿qué bien puede hacerles? Él ni siquiera asume un cuerpo, así que ese es un <i>Brahman</i> falso.</p>

<p>Por eso la ‘<i>abhyāsāt</i>’, ‘practica’, se dice en nombre de <i>Brahman</i> solo para Él, porque solo <i>Kṛṣṇa</i> es <i>ānandamaya</i>.</p>

<p>Alguien dice que Él no tiene forma. ¿No tiene forma?</p>

<verse>
  arūpavadeva tat-pradhānatvāt
  <verse-ref>Brahma-sūtra (3.2.14)</verse-ref>
</verse>

<blockquote>

  <i>Brahman</i> no está dotado de un <i>vigraha</i> (forma) separado. Él mismo es el <i>Śrī-vigraha</i>, porque Su <i>ātmā</i> o <i>svarūpa</i> es el <i>Śrī-vigraha</i>.

  <blockquote-ref>(GVP)</blockquote-ref>

</blockquote>

<p>¿Qué significa esto?</p>

<p>No es <i>rūpavat</i> — <i>na rūpavat</i>. Esto no significa que Él no tenga forma.</p>

<p>Decir que Él no tiene forma es completamente incorrecto. ‘<i>Arūpavat</i>’ significa que Él no tiene una forma material ordinaria; Él es <i>svayaṁ-rūpa</i>, Él mismo es <i>vigraha-svarūpa</i>.</p>

<p><i>Caitanya Mahāprabhuji</i>, refutando los argumentos de <i>Sārvabhauma Bhaṭṭācārya</i> y <i>Prakāśānanda Sarasvatī</i>, estableció allí la forma de <i>Kṛṣṇa</i> y también explicó que este <i>Govindaji</i> es el <i>paramatattva</i>, el <i>Parabrahman</i>.</p>

<p>Ahora surge la pregunta: ¿por qué vino al <i>jagat</i> (mundo material)?</p>

<p>¿Para qué vino al <i>jagat</i>? Él está en todas partes del <i>jagat</i>. Está en cada <i>aṇu</i> (partícula).</p>

<p>Pero ¿por qué se manifestó de forma <i>prakata</i>? Hay muchas razones para esto; no son una o dos. De forma ordinaria se mencionan dos causas de Su <i>avatāra</i>: principal y secundaria. En el <i>Bhagavad-gītā Bhagavān</i> dice:</p>

<verse>
  yadā yadā hi dharmasya
  <br/>
  glānir bhavati bhārata
  <br/>
  abhyutthānam adharmasya
  <br/>
  tadātmānaṁ sṛjāmy aham
  <verse-ref>Śrīmad-Bhagavad-gītā (4.7)</verse-ref>
</verse>

<blockquote>

  Cuandoquiera y dondequiera que haya un deterioro en la práctica religiosa, ¡oh descendiente de <i>Bhārata</i>!, y un aumento predominante de la irreligión —en ese entonces Yo Mismo desciendo.

</blockquote>

<p>Para establecer el <i>dharma</i>, para eliminar el <i>adharma</i>, para destruir a los <i>duṣṭa-janas</i> y para proteger a los <i>bhaktas</i>, Él se manifiesta en el <i>jagat</i>. Esta es una causa, pero es secundaria.</p>

<p><i>Brahmā</i> y los demás <i>devas</i>, llevando consigo a la Tierra en forma de vaca (<i>Bhūmi</i>), hicieron <i>ārādhana</i> de <i>Bhagavān</i> en el <i>Kṣīrasāgara</i>: “Sobre la Tierra se ha cargado un peso terrible. Por favor quítalo, de lo contrario la Tierra se hundirá en <i>rasātala</i>.”</p>

<p>Esta también es una causa del <i>avatāra</i> de <i>Bhagavān</i>, pero es secundaria.</p>

<p>¿Por qué? Porque este trabajo Él puede hacerlo también a través de Su <i>aṁśa</i> del <i>aṁśa</i> del <i>aṁśa</i>, <i>Mahāviṣṇu</i>, <i>Garbhodakaśāyī Viṣṇu</i>, etc.</p>

<p>A través de <i>Garbhodakaśāyī Viṣṇu</i> y Sus diversos <i>avatāras</i>, todo este trabajo se realiza fácilmente. No es necesario que <i>Kṛṣṇa</i> venga solo para establecer el <i>yuga-dharma</i> y matar a <i>Kaṁsa</i>. Eso puede ser hecho fácilmente por <i>Mahāviṣṇu</i>, etc., y el peso de los <i>lokas</i> puede ser aliviado.</p>

<p>Entonces ¿por qué vino <i>Kṛṣṇa</i> mismo?</p>

<verse>
  muhūrtenāpi saṁharttuṁ
  <br/>
  śaktau yadyapi dānavān
  <br/>
  mad-bhaktānāṁ vinodārthaṁ
  <br/>
  karomi vividhāḥ kriyāḥ
  <verse-ref>(Padma Purāṇa)</verse-ref>
</verse>

<blockquote>

  Aunque soy capaz de destruir a todos los <i>dānavas</i> en un solo <i>muhūrta</i>, aun así realizo diversos <i>līlās</i> solo para aumentar el <i>ānanda</i> de Mis <i>bhaktas</i>.

</blockquote>

<p><i>Kṛṣṇa</i> viene para dar <i>vinoda</i> (satisfacción) a Sus <i>bhaktas</i>.</p>

<p><b>Devoto:</b> ¿Se puede aplicar aquí este <i>śloka</i>?</p>

<verse>
  paritrāṇāya sādhūnāṁ
  <br/>
  vināśāya cha duṣkṛtām
  <br/>
  dharma-saṁsthāpanārthāya
  <br/>
  sambhavāmi yuge yuge
  <verse-ref>Śrīmad-Bhagavad-gītā (4.8)</verse-ref>
</verse>

<blockquote>

  “Con el fin de liberar a los piadosos y aniquilar a los impíos, así como para restablecer los principios de la religión, Yo Mismo desciendo milenio tras milenio.”

</blockquote>

<p><b>Śrīla Nārāyaṇa Gosvāmī Mahārāja:</b> “<i>Paritrāṇāya sādhūnāṁ</i>” se puede escribir solo para los <i>sādhakas</i> ordinarios.</p>

<p>Como cuando viene para aliviar el sufrimiento de <i>Prahlāda</i>, etc. Vino para salvar del <i>atyācāra</i> de <i>Kaṁsa</i>, pero este también es un sentido secundario. ¿Está claro? Más adelante, cuando lean más, verán que vino para cumplir las palabras de Sus <i>bhaktas</i>. ¿Qué es eso?</p>

<p><b>Devoto:</b></p>

<verse>
  satyaṁ vidhātuṁ nija-bhṛtya-bhāṣitaṁ
  <br/>
  vyāptiṁ cha bhūteṣv akhileṣu chātmanaḥ
  <br/>
  adṛśyatātyadbhuta-rūpam udvahan
  <br/>
  stambhe sabhāyāṁ na mṛgaṁ na mānuṣam
  <verse-ref>Śrīmad-Bhāgavatam (7.8.17)</verse-ref>
</verse>

<blockquote>

  En ese mismo momento <i>Bhagavān Śrī Hari</i>, para hacer verdaderas las palabras de Su servidor <i>Prahlāda</i> y Su propia omnipresencia, asumió la forma extremadamente terrible de <i>Śrī Nṛsiṁha</i>, destructora de los <i>daityas</i>, y se manifestó desde ese mismo pilar dentro de la asamblea. Esa forma no era completamente de hombre ni completamente de león.

  <blockquote-ref>(GVP)</blockquote-ref>

</blockquote>

<p><b>Śrīla Nārāyaṇa Gosvāmī Mahārāja:</b> ‘<i>Satyaṁ vidhātuṁ nija-bhṛtya-bhāṣitaṁ</i>’ — es decir, para cumplir las palabras de Sus <i>bhaktas</i> y para dar <i>vinoda</i> a Sus <i>bhaktas</i>.</p>

<p>¿Quiénes están entre estos <i>bhaktas</i>?</p>

<p>Por ejemplo <i>Pṛśni</i> y <i>Sutapā</i>.</p>

<p><i>Pṛśni</i> y <i>Sutapā</i> hicieron <i>tapasya</i> durante cientos de miles de años, parados solo sobre la fuerza de la uña de su pulgar y sin comer ni beber durante miles de años. Entonces <i>Bhagavān</i> se presentó ante ellos.</p>

<p>Hoy es <i>upavāsa</i>, ¿verdad? Y ellos durante cientos de miles de años mantuvieron su cuerpo parado solo con la fuerza de la uña e hicieron <i>tapasya</i>. No comieron ni bebieron nada, incluso detuvieron el aire dentro de su cuerpo durante cientos de miles de años. Nosotros no podemos hacer eso.</p>

<p>Hasta ahora, ¿cuántos de ustedes ya habrán bebido agua? Habrán bebido agua. Y en la mente también habrá este pensamiento:“¿Hasta cuándo se va a quedar sentado <i>Maharajaji</i>?”</p>

<p>¿Qué hora es?</p>

<p><b>Devoto:</b> Las ocho y cuarto.</p>

<p><b>Śrīla Nārāyaṇa Gosvāmī Mahārāja:</b> “Ya son las ocho y cuarto. Y <i>Maharajaji</i> todavía no se levanta. ¿Cuándo se levantará? ¡Solo entonces habrá <i>jalapāna</i>!”</p>

<p>Muchos de ustedes incluso en el día de <i>upavāsa</i> beben agua, y ellos hacían <i>tapasya</i> durante cientos de miles de años.</p>

<p>Aun así <i>Bhagavān</i> les dio <i>darśana</i> solo por un instante después de cientos de miles de años.</p>

<p>¡Y ustedes piensan que <i>Bhagavān</i> les dará <i>darśana</i> así como así!</p>

<p>Como si Él estuviera sentado solo para dárselo a ustedes.</p>

<p>Al final, hasta que no nazca Él, hagan <i>upavāsa</i>, si de verdad quieren hacer <i>upavāsa</i>.</p>

<blockquote>

  Pero solo con no comer no se hace <i>upavāsa</i>.

</blockquote>

<p>Solo dejando de comer no se hace <i>upavāsa</i>.</p>

<p>Siéntense cerca de Él también con la mente.</p>

<p>Lleven todos sus sentidos cerca de <i>Kṛṣṇa</i>.</p>

<p>¿Cómo será esto?</p>

<p>Con <i>saṅkīrtana</i>.</p>

<verse>
  śravaṇaṁ kīrtanaṁ viṣṇoḥ smaraṇaṁ pāda-sevanam
  <br/>
  archanaṁ vandanaṁ dāsyaṁ sakhyam ātma-nivedanam
  <br/>
  iti puṁsārpitā viṣṇau bhaktiś chen nava-lakṣaṇā
  <br/>
  kriyate bhagavaty addhā tan manye ’dhītam uttamam
  <verse-ref>Śrīmad-Bhāgavatam (7.5.23-24)</verse-ref>
</verse>

<blockquote>

  <i>Śrī Prahlādaji</i> dijo: “Escuchar, cantar y recordar los nombres, formas, cualidades y <i>līlās</i> de los parikaras de <i>Bhagavān Viṣṇu</i>; servir Sus pies de loto; realizar <i>arcana</i> con <i>ṣoḍaśopacāra</i>; volverse Su <i>dāsa</i>; establecer <i>sakhyabhāva</i> y entregarle todo a Sus pies; estas son las nueve formas de <i>bhakti</i>. Quien, entregándose a <i>Bhagavān Viṣṇu</i>, realiza directamente esta <i>navavidhā bhakti</i>, según mi opinión ha obtenido la educación más excelente.”

  <blockquote-ref>(GVP)</blockquote-ref>

</blockquote>

<p>Pongan todos los sentidos en esto. Entonces habrá <i>upavāsa</i>.</p>

<p>O residiendo cerca de <i>Bhagavān</i> en el <i>mandira</i>, cerca de <i>Tulasī</i>, a la orilla del <i>Yamunā</i>, residiendo cerca de estos se hace <i>upavāsa</i>, solo con no comer no se hace <i>upavāsa</i>.</p>

<verse>
  upāvṛtasya pāpebhyo
  <br/>
  yas tu vāso guṇaiḥ saha
  <br/>
  upavāsaḥ sa vijñeyaḥ
  <br/>
  nopavāsas tu laṅghanam
</verse>

<blockquote>

  El verdadero upavāsa es residir cerca de <i>Śrī Bhagavān</i>, que es el depósito de todas las <i>guṇas</i>, después de haberse retirado de todos los pecados; el simple hecho de abandonar la comida no es el significado de <i>upavāsa</i>.

  <blockquote-ref>(GVBT)</blockquote-ref>

</blockquote>

<p>“<i>Nopavāsas tu laṅghanam</i>” — solo con <i>laṅghana</i> (<i>upavāsa</i>) no se hará.</p>

<p>Hoy veré. Preguntaré a cada persona. Especialmente a los <i>brahmacārīs</i> preguntaré quién mantuvo <i>upavāsa</i> hasta las doce.</p>

<p>Pero en esto las mujeres irán adelante. Si les decimos: “Beban agua”, aun así no beberán. Ellas harán el <i>pāraṇa</i> mañana después del amanecer. Aquí no lo harán.</p>

<p>Todos se quedarán atrás de ellas. Habrá muy pocos que puedan mantener firmemente el <i>upavāsa</i>.</p>

<p>Pero ustedes intenten hasta dónde pueden permanecer <i>upavāsī</i>.</p>

<p>Hoy el ambiente también es favorable.</p>

<p>Hoy en el cielo hay nubes, está lloviendo, el día es agradable.</p>

<p>Especialmente tenemos miedo de las personas gordas, de que ya hayan bebido agua.</p>

<p>Los delgados de alguna manera lo lograrán; pero para ellos hay un poco más de miedo.</p>

<p>Por eso todos sean muy cuidadosos.</p>

<p>Si toman firme determinación (<i>saṅkalpa</i>) de que “no beberemos agua”, entonces tampoco sentiremos sed.</p>

<p>A las doce de la noche nacerá <i>Ṭhākurajī</i>.</p>

<p>Entonces tomen <i>charaṇāmṛta</i>.</p>

<p>Ahora no vayan al mercado a comer arroz, granos, <i>parāṭhā</i>, etc.</p>

<p>Aquí no se conseguirá, pero afuera sí se puede conseguir.</p>

<p>Ni siquiera vayan allá a comer.</p>

<p>Hoy, lo poco de <i>anukalpa</i> que se consiga aquí, tomen eso, y quienes no tomen <i>anukalpa</i>, mejor.</p>

<p>Ellos lo tomarán mañana.</p>

<p>Mañana respecto al <i>pāraṇa</i> también hay dos tipos de opiniones.</p>

<p>Según una opinión el <i>pāraṇa</i> se hace al final del <i>tithi</i> y según la otra opinión al final del <i>nakṣatra</i>.</p>

<p>Si hacemos <i>pāraṇa</i> según el <i>nakṣatra</i>, entonces habrá que hacer <i>pāraṇa</i> solo después de que termine <i>Rohiṇī nakṣatra</i>.</p>

<p><i>Rohiṇī nakṣatra</i> dura aproximadamente hasta las cuatro de la tarde, del día de mañana.</p>

<p>Entonces habrá que mantener <i>upavāsa</i> hasta entonces.</p>

<p>Mañana después de las cuatro de la tarde se puede tomar agua u otra cosa.</p>

<p><b>Devoto:</b> ¿Hasta esta tarde?</p>

<p><b>Śrīla Nārāyaṇa Gosvāmī Mahārāja:</b> De mañana, no hoy. Mañana el <i>pāraṇa</i> será solo después de las cuatro de la tarde.</p>

<p>Otra cosa más, si no pueden hacerlo así, <i>Bhagavān</i> otorga <i>kṛpā</i>.</p>

<p>Pueden hacer <i>pāraṇa</i> según el <i>tithi-yoga</i>.</p>

<p>El <i>aṣṭamī tithi</i> ya comenzó esta noche y terminará después de las doce de la noche.</p>

<p>Por eso, según el <i>tithi-yoga</i>, ustedes pueden ofrecer <i>bhoga</i> a <i>Ṭhākurajī</i> por la mañana después del amanecer y antes de las nueve y treinta y nueve minutos, y hacer <i>pāraṇa</i>.</p>

<p>Mañana es el <i>āvirbhāva-divasa</i> de <i>Svāmījī</i>.</p>

<p><i>A.C. Bhaktivedānta Svāmī Mahārāja</i> era nuestro <i>gurubhāi</i> y nuestro <i>śikṣā-guru</i>.</p>

<p>Así con él tuvimos estas dos relaciones, de hermano e instructor.</p>

<p>También había una relación de amigo.</p>

<p>Así tres relaciones.</p>

<p>No debería decirlo, pero de alguna manera yo también fui su <i>śikṣā-guru</i>, porque yo le di el <i>sannyāsa</i>.</p>

<p>¿No es así? Yo le di el <i>sannyāsa</i>.</p>

<p>Yo le puse el vestido de <i>sannyāsa</i> y le enseñé a tomar la <i>daṇḍa</i>.</p>

<p>Entonces ¿quién fue el <i>guru</i>?</p>

<p>Cuántas relaciones hay con él, pero aun así yo lo considero mi <i>śikṣā-guru</i> y <i>priya-bandhu</i>.</p>

<p>(Lectura de Śrīla Bhaktivedānta Nārāyaṇa Gosvāmī Mahārāja – Janmāṣṭamī 1997, Mathurā.)</p>

<hr/>

<hr/>

</div>