<!-- generate_site:meta created="2026-09-19T23:42:27.360377" hash="9428d43c8d89da85a795be92bbc961ee4b9bc05570172c09f7d09b4e55986f8c" -->
<div class="footer-author geek-stats accordion-stop">
  <div class="footer-author-title" style="font-weight:400;">
    <b>Estadísticas:</b> Janmāṣṭamī — Razones del advenimiento de Kṛṣṇa
  </div>
  <div class="footer-author-text"><b>Idioma original:</b> Hindi<br/>
    <b>Traducido por:</b> Nitāy<br/>
    <b>Fecha original:</b> <span class='stat-val'>1996-09-06, Mathurā</span><br/>
    
    <b>Temas:</b> <span class="stat-val">4</span> (principales:<span class="stat-val">1</span>, secundarios:<span class="stat-val">3</span>)<br/>
    <b>Contenido:</b> párrafos <span class="stat-val">116</span>, palabras: <span class="stat-val">2755</span><br/>
    <b>Diseños:</b> imágenes: <span class="stat-val">9</span>, diagrámas: <span class="stat-val">0</span><br/>
    <b>Tiempo de lectura:</b> <span class="stat-val">26 min, 43 seg</span><br/>
    <b>Presentación creada el:</b> <span class="stat-val">2026-09-19, 23:42</span>
  </div>
</div>

<div id="content-body">

<h1>Razones del advenimiento de Kṛṣṇa</h1>

<p>Śrī Kṛṣṇa-janmāṣṭamī: ¿Cómo podemos permanecer felices?<br/>[<em class="gloss">Śrīla Bhaktivedānta Nārāyaṇa Gosvāmī Mahārāja pronunció esta harikathā el día de Śrī Kṛṣṇa-janmāṣṭamī en el Śrī Keśavajī Gauḍīya Maṭha, Mathurā (fecha desconocida)</em>]</p>

<p>Śrīla Nārāyaṇa Gosvāmī Mahārāja: Nuestro programa se ha estado desarrollando de forma muy hermosa desde hace tres días.</p>

<p>Ayer se realizó un <i>nagara-saṅkīrtana</i> muy hermoso.</p>

<p>Desde esta mañana se está llevando a cabo el <i>pārāyaṇa</i> del <i>Śrīmad-Bhāgavatam</i>, la lectura completa de un <i>grantha</i> en un tiempo fijo.</p>

<p>Aquí están presentes hermosos cantantes de <i>Vraja</i>, artistas <i>rasika</i> que cantan de forma muy dulce las <i>kathās</i> de <i>Kṛṣṇa</i>.</p>

<p>Hoy es el <i>āvirbhāva-tithi</i> de <i>Kṛṣṇa</i>.</p>

<p>Hace aproximadamente 5000 años <i>Kṛṣṇa</i> se manifestó en esta misma tierra de <i>Mathurā-dhāma</i>.</p>

<h3>¿Para qué se manifestó Kṛṣṇa?</h3>

<p>En el <i>viśva-brahmāṇḍa</i>, todas las <i>jīvas</i> que existen —no solo los seres humanos, sino también insectos, animales, aves, <i>devas</i>, <i>gandharvas</i>, <i>kinnaras</i>, pobres, ricos, reyes, mendigos— todos son por naturaleza sirvientes de <i>Kṛṣṇa</i>.</p>

<blockquote>

  <i>Kṛṣṇa</i> es <i>ānandamaya</i>, por eso nosotros estamos en busca de <i>ānanda</i>.

</blockquote>

<p>No existe ninguna <i>jīva</i> que desee <i>duḥkha</i>.</p>

<p>Todos desean <i>ānanda</i>.</p>

<p>Pero tampoco existe ningna <i>jīva</i> a quien, a pesar de desear <i>sukha</i>, el <i>duḥkha</i> no se le siente en la cabeza y lo obligue a experimentar sufrimiento.</p>

<p>¿Qué persona no envejece?</p>

<p>¿Qué <i>jīva</i> no se retuerce de dolor?</p>

<p>Dejando a un lado a los demás, personas tan poderosas como Napoleón Bonaparte, y en nuestro <i>Bhāratavarṣa</i> misma Indira Gandhi, sus dos hijos, <i>Rāvaṇa</i>, <i>Jarāsandha</i>, <i>Kaṁsa</i>, etc., todos tuvieron que entrar en la boca de <i>kāla</i>.</p>

<p>En realidad, todos nosotros somos sirvientes de <i>Kṛṣṇa</i>. Al olvidar Su servicio y ocuparnos en las actividades inútiles del ciclo de repetidos nacimientos y muertes, <i>saṁsāra</i>, todos estamos sufriendo.</p>

<p>Por fuera se oye mucho <i>kīrtana</i>, hay mucho <i>ānanda</i>, pero por dentro nadie es feliz.</p>

<p>Nadie puede decir: “Yo soy feliz”.</p>

<p>Este mundo material, <i>jagat</i>, no es la tierra de la felicidad.</p>

<p>Al olvidar a <i>Bhagavān</i> y ofender Sus pies de loto, por esa misma enfermedad de la ilusión (<i>doṣa māyā</i>) nos ha molido en la prensa y nos ha destrozado con los defectos materiales.</p>

<p>No hay nadie que no muera.</p>

<p>Quien nace, necesariamente muere.</p>

<p>No solo desde un nacimiento, sino desde millones de nacimientos (desde tiempo <i>anādi</i>) hemos venido girando en el ciclo de nacimiento y muerte olvidando a <i>Bhagavān</i>.</p>

<p>Para el bienestar (<i>maṅgala</i>) de las <i>jīvas</i>, <i>Śrī Kṛṣṇa</i>, <i>Śrī Rāma</i>, <i>Śrī Varāha</i>, <i>Śrī Nṛsiṁha Bhagavān</i> y grandes <i>ācāryas</i> han venido a este <i>jagat</i>, pero nosotros no hemos podido ser liberados.</p>

<p>Por gran fortuna <i>Bhagavān</i> nos ha dado este nacimiento humano.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/2cb3e13e32233eb7.avif" width="600" height="718" alt="">
</figure>

<verse>
  baḍe bhāga mānuṣa tanu pāvā
  <br/>
  sura durlabha saba granthanhi gāvā
  <verse-ref>Rāmacaritamānasa (Uttarakāṇḍa)</verse-ref>
</verse>

<blockquote>

  El nacimiento humano se obtiene con extrema fortuna y es raro incluso para los <i>devas</i>; así lo describen todos los <i>śāstras</i>.

</blockquote>

<p>¡Hermanos! Este nacimiento humano se ha obtenido con gran fortuna, por eso no lo desperdicien así.</p>

<p><i>Bhagavān Kṛṣṇa</i> realiza el <i>līlā</i> de tomar nacimiento en este <i>jagat</i> y todos los demás <i>avatāras</i> descienden; matan a los <i>asuras</i> que se oponen al <i>dharma</i> y realizan <i>līlās</i> tan cautivadores que ni siquiera <i>Brahmā</i>, <i>Śaṅkara</i> y los demás <i>devas</i> pueden comprender.</p>

<p>En ese momento atraen la mente de todas las personas y luego se van de este <i>dharā-dhāma</i>, lugar sagrado de pasatiempos en este planeta.</p>

<p>Los <i>bhaktas</i>, al hacer <i>kīrtana</i> y <i>śravaṇa</i> de esos <i>līlās</i> de <i>Bhagavān</i>, cruzan fácilmente el <i>bhavasāgara</i>, el océano de la ignorancia.</p>

<p>Nuestro propósito no es reunir artistas para entretenerlos a ustedes, no hemos venido para eso.</p>

<p>Nuestro propósito es que ustedes escuchen la instrucción (<i>vāṇī</i>) de <i>Kṛṣṇa</i>.</p>

<p>Si podemos seguir las instrucciones de <i>Kṛṣṇa</i>, esa será la verdadera <i>puṣpāñjali</i> a Sus pies de loto.</p>

<p>¿Qué dijo <i>Kṛṣṇa</i>?</p>

<verse>
  īsvara aṁsa jīva abināśī
  <br/>
  chetana amala sahaja sukha rāsī
  <verse-ref>Rāma-charita-mānasa (Uttara-kāṇḍa)</verse-ref>
</verse>

<blockquote>

  La <i>jīva</i> es una <i>aṁśa</i> de <i>Īśvara</i>. (Por lo tanto) es indestructible, consciente, puro y por naturaleza un cúmulo de felicidad.

</blockquote>

<verse>
  mamaivāṁśo jīva-loke jīva-bhūtaḥ sanātanaḥ
  <br/>
  manaḥ ṣaṣṭhānīndriyāṇi prakṛti-sthāni karṣati
  <verse-ref>Śrīmad-Bhagavad-gītā (15.7)</verse-ref>
</verse>

<blockquote>

  Mi propia <i>vibhinnāṁśa</i>, la <i>jīva</i> eterna, estando situada en la <i>prakṛti</i> de este <i>jagat</i>, atrae la mente y los cinco sentidos.

</blockquote>

<p>Somos <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-1"><i>aṁśa</i></span><span class="gloss-tooltip-content" id="gloss-1" role="tooltip" inert>porciones</span> de <i>Bhagavān</i>.</p>

<p>Mientras no nos unamos a <i>Bhagavān</i> y no realicemos Su servicio, jamás podremos ser felices ni estar en paz.</p>

<p>Cuando alguien tan poderoso como <i>Rāvaṇa</i>, que vivía en <i>Laṅkā</i>, la Ciudad de Oro, que tenía un millón de hijos y un millón y cuarto de nietos, cuyo hermano era <i>Kumbhakarṇa</i> y cuyo hijo era <i>Meghanātha</i>, no pudo ser feliz, ¿qué capacidad tenemos nosotros?</p>

<p>Por eso, mientras no realicemos el servicio de <i>Bhagavān</i>, jamás podremos ser felices.</p>

<verse>
  bāri matheṁ ghṛta hoi baru, sikatā te baru tela
  <br/>
  binu hari bhajana na bhava tari’a, yaha siddhānta apela
  <verse-ref>Rāma-charita-mānasa (Uttara-kāṇḍa)</verse-ref>
</verse>

<blockquote>

  Aunque al batir el agua se produzca ghee y al exprimir la arena salga aceite, sin el <i>bhajana</i> de <i>Śrī Hari</i> no se puede cruzar el <i>bhavasāgara</i>; esta conclusión, <i>siddhānta</i> es inquebrantable.

</blockquote>

<verse>
  hima te anala pragaṭa baru hoī
  <br/>
  bimukha rāma sukha pāva na koī
  <verse-ref>Rāma-charita-mānasa (Uttara-kāṇḍa)</verse-ref>
</verse>

<blockquote>

  Aunque del hielo aparezca fuego, nadie que esté vuelto de espaldas a <i>Śrī Rāma</i> puede obtener felicidad.

</blockquote>

<p>Puede que al batir el agua salga ghee, que florezcan flores en el cielo, que la oscuridad destruya al sol, que del hielo nazca fuego, que al moler la tierra salga aceite, pero sin <i>hari-bhajana</i> nadie puede ser feliz ni estar en paz jamás.</p>

<p>Este es el mensaje de <i>Kṛṣṇa</i>, de <i>Rāma</i>.</p>

<p>Recuérdenlo siempre, y si no lo recuerdan, <i>māyā</i> los molerá como <i>sattu</i> (harina de garbanzo), tal como <i>Kṛṣṇa</i> molió a <i>Aghāsura</i>, <i>Bakāsura</i>, <i>Kaṁsa</i>, <i>Jarāsandha</i>, y otros demonios.</p>

<p><i>Kṛṣṇa</i> no necesita molernos; <i>māyā</i> misma nos molerá en la prensa.</p>

<p>Recuerden: nadie puede ser feliz mediante la riqueza, nadie puede ser feliz mediante los familiares, nadie puede ser feliz mediante ninguna <i>vidyā</i> (sabiduría) mundana; solo mediante el <i>bhajana</i> de <i>Bhagavān</i> se puede ser feliz, no hay otro medio.</p>

<p>Miren, el lugar donde estamos sentados en este nacimiento, ¿qué tierra es esta?</p>

<p>Este es el <i>akhāḍā</i> de <i>Kaṁsa</i>.</p>

<p>Aquí está <i>Raṅgeśvara Mahādeva</i>.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/051d595e11a9b4bd.avif" width="480" height="360" alt="">
</figure>

<p>Aquí hay una tierra muy elevada y aquí mismo <i>Kaṁsa</i> estaba sentado arriba, y aquí <i>Cāṇūra</i> y <i>Muṣṭika</i>, conspirando para matar a <i>Kṛṣṇa</i>, luchaban con Él.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/fa5a816b0c8bb484.avif" width="369" height="500" alt="">
</figure>

<p>Después de derrotar a <i>Chāṇūra</i> y <i>Muṣṭika</i>, <i>Kṛṣṇa</i> saltó y agarró  <i>Kaṁsa</i> del cabello, y le dijo: “¿Tú agarraráste el cabello de Mi <i>maiyā</i>, y querías matarla? ¿Acaso volverás a aplastar el pecho de Mi padre con una piedra?”</p>

<p>Diciendo esto, <i>Kṛṣṇa</i> lo arrojó desde el palco hacia la arena de lucha, saltó sobre su pecho y le sacó la vida.</p>

<p>Quienes no realizan el <i>bhajana</i> de <i>Bhagavān</i> tienen ese mismo destino; de esa misma manera son destruidos.</p>

<p>Quien comete injusticias y hurtos (<i>anyāya-atyāchāra</i>) contra el <i>dharma</i>, contra las vacas, contra los <i>brahmaṇas</i> conocedores de los <i>Vedas</i> y contra los <i>bhaktas</i>, aunque sea como <i>Kaṁsa</i>, <i>Rāvaṇa</i>, <i>Jarāsandha</i>, etc., un día se convierte en polvo.</p>

<blockquote>

  Por eso hay que recordar estas enseñanzas. Este nacimiento ha ocurrido para realizar el <i>bhajana</i> de <i>Bhagavān</i> y no para ningún otro objetivo.

</blockquote>

<p>Esta <i>Mathurāpurī</i> es afortunada, donde ha venido <i>Kṛṣṇa</i>.</p>

<p>¿Quién es este <i>Kṛṣṇa</i>?</p>

<p>Muchas personas se enfadarán al decirlo, pero <i>Kṛṣṇa</i> es el <i>avatārī</i> original incluso de <i>Rāma</i> y <i>Nṛsiṁha</i>.</p>

<p>Este <i>Kṛṣṇa-chandrajī</i> es el <i>avatārī</i> de todos los <i>avatāras</i>.</p>

<p>Aquel de cuyos <i>aṁśa</i> y <i>kalā</i> salen miles y millones de <i>Brahmā</i>, <i>Viṣṇu</i>, <i>Maheśa</i>, y demás seres, Ese es este <i>Kṛṣṇa</i> que se manifestó del vientre de <i>Devakī</i> en <i>Mathurā</i>.</p>

<blockquote>

  Pero comprendan este <i>tattva</i>: el ‘<i>Vāsudeva Kṛṣṇa</i>’ que se manifiesta como hijo de <i>Devakī-Vasudeva</i> en <i>Mathurā</i> es una porción, <i>aṁśa</i> del ‘<i>Yaśodānandana Kṛṣṇa</i>’ que toma nacimiento en <i>Vraja</i> (<i>Gokula</i>).

</blockquote>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/559c265ba937aa88.avif" width="864" height="1208" alt="">
</figure>

<p>El <i>chaturbhuja Kṛṣṇa</i> que aparece en la prisión de <i>Kaṁsa</i> sosteniendo <i>śaṅkha</i>, <i>cakra</i>, <i>gadā</i> y <i>padma</i> es, en esencia, una <i>aṁśa</i> y <i>kalā</i> de ‘<i>Vrajendranandana Śyāmasundara</i>’.</p>

<blockquote>

  El <i>Kṛṣṇa</i> de <i>Mathurā</i> no puede sostener la <i>vaṁśī</i> (flauta de cinco notas), no puede llevar plumas de pavo real en la cabeza, no puede realizar <i>rāsa-nṛtya</i> (coreografías de danza) con las <i>gopīs</i>, no puede otorgar <i>prema</i> (Amor Divino).

</blockquote>

<p>Él castigará a <i>Kaṁsa</i>, castigará a <i>Bakāsura</i>, y otros, destruirá a <i>Jarāsandha</i>, y muchos más.</p>

<p>En Él predomina el <i>aiśvarya</i> (opulencia), Sus <i>līlās</i> son <i>aiśvaryamayī</i>.</p>

<p>Y el <i>Kṛṣṇa</i> de <i>Gokula</i>, que es el origen incluso del <i>Mathureśa Kṛṣṇa</i>, el <i>aṁśī</i> y ‘<i>Svayaṁ Bhagavān Vrajendranandana</i>’, aunque a la vista parece ordinario y de color <i>śyāma</i>, Su <i>mahimā</i> es maravillosa.</p>

<h2>¿Para qué vino Kṛṣṇa?</h2>

<p>No vino para matar a los <i>asuras</i> ni para destruirlos.</p>

<verse>
  yadā yadā hi dharmasya
  <br/>
  glānir bhavati bhārata
  <br/>
  abhyutthānam adharmasya
  <br/>
  tadātmānaṁ sṛjāmy aham
  <verse-ref>Śrīmad-Bhagavad-gītā (4.7)</verse-ref>
</verse>

<blockquote>

  “Cuandoquiera y dondequiera que haya un deterioro en la práctica religiosa, ¡oh descendiente de <i>Bhārata</i>!, y un aumento predominante de la irreligión —en ese entonces Yo Mismo desciendo.”

</blockquote>

<p>Matar a los <i>asuras</i> y establecer el <i>dharma</i> es posible incluso mediante la <i>aṁśa</i> de la <i>aṁśa</i>, la <i>kalā</i> de la <i>kalā</i> de <i>Kṛṣṇa</i>.</p>

<p>Matar a los <i>asuras</i> lo hace incluso <i>Mahāviṣṇu</i>, pero en <i>Vraja Kṛṣṇa</i> realiza <i>līlās</i> tan dulces que no son posibles para los demás <i>avatāras</i>.</p>

<p><i>Kṛṣṇa</i> comió tierra en <i>Vraja</i>, lanzó piedras a las vasijas de las <i>gopīs</i>, <i>Yaśodājī</i> Lo ató con cuerdas del <i>prema</i> y Él comenzó a llorar.</p>

<p>Quien realizó el <i>rāsa</i> en <i>Vṛndāvana</i>, este <i>Kṛṣṇa</i>, es el <i>avatārī</i> incluso de todos los <i>avatāras</i>.</p>

<h3>Realizar bhajana es fácil y también difícil</h3>

<p>Quien ha tomado nacimiento humano en <i>Mathurā-dhāma</i> o cerca de <i>Mathurā</i>, y cuya inteligencia está bien y el cuerpo está sano, pero está ocupado solo en comer, ganar y en los disfrutes (<i>bhogas</i>) materiales, no hay diferencia entre tal persona y un cerdo.</p>

<p>La verdadera utilidad de la vida humana está en realizar el <i>bhajana</i> del <i>Kṛṣṇa</i> que se manifiesta aquí en <i>Mathurā</i>, del <i>Kṛṣṇa</i> que nace en <i>Gokula</i>, quien solo se obtiene mediante <i>prema</i>.</p>

<p>Realizar <i>bhajana</i> no es muy penoso.</p>

<p>Consideren a ese <i>Kṛṣṇa</i> como su amigo íntimo mundano, considérenlo como su hijo, como <i>Yaśodā Maiyā</i> Lo consideró su hijo, y ¿qué Lo consideraron las <i>vraja-gopīs</i>?</p>

<p>Su <i>prāṇa-priyatama</i>. Para considerarlo así no se gasta dinero, ni siquiera un centavo.</p>

<p>Pero tampoco es fácil considerarlo así.</p>

<p>Este es un <i>bhāva</i> de categoría muy elevada, que ni siquiera existe en el <i>bhajana</i> de <i>Rāmachandrajī</i>.</p>

<p>Por eso, quienes han nacido en <i>Mathurā</i>, quienes han venido a <i>Mathurā</i> por trabajo, cuyas hijas se han casado en <i>Mathurā</i>, quienes de cualquier manera han llegado aquí o quienes han dejado su país y han venido aquí para realizar <i>bhajana</i>, realicen el <i>bhajana</i> de <i>Kṛṣṇa</i> considerándolo como un amigo íntimo mundano.</p>

<p>Vemos que hoy en el mundo no hay ninguna nación cuyos chicos y chicas, asqueados de los disfrutes mundanos de allí, no vengan a este <i>Bhāratavarṣa</i>, a este <i>Mathurā-dhāma</i>, a <i>Vṛndāvana</i>.</p>

<p>¿Para qué vienen?</p>

<p>Es nuestra desgracia que nosotros, para ganar rupias y dinero, dejemos este <i>Mathurā</i> y <i>Vraja-dhāma</i> y vayamos a no se sabe qué países extranjeros, mientras que la gente de allí anhela incluso un solo grano de polvo de esta <i>Vraja-bhūmi</i>.</p>

<p>Hay que comprender este asunto.</p>

<p>Si con rupias se fuera feliz, si con la riqueza se fuera feliz, si con la familia se fuera feliz, entonces mucha gente sería feliz.</p>

<p>Los norteamericanos son muy ricos, pero no son felices; por eso sigan según las instrucciones de <i>Kṛṣṇa</i>.</p>

<p>Aceptar esas instrucciones será lo mejor.</p>

<p>Todos hemos venido a ofrecer <i>puṣpāñjali</i> a los pies de loto de <i>Kṛṣṇa</i>; esa <i>puṣpāñjali</i>, solo se realizará al seguir las instrucciones de <i>Kṛṣṇa</i>.</p>

<p>Si realmente aceptamos con sinceridad aunque sea una sola instrucción de <i>Kṛṣṇa</i>, nuestra vida será exitosa.</p>

<p>¿Cuál instrucción?</p>

<p>La primera instrucción es que no somos el cuerpo, somos el <i>ātmā</i>.</p>

<p>Comprendan esto. El cuerpo es tierra; en él el <i>ātmā</i> es todo, y dentro del <i>ātmā</i> está nuevamente el <i>Paramātmā Kṛṣṇa</i>.</p>

<p>Por eso, mientras no haya relación del <i>ātmā</i> con <i>Kṛṣṇa</i>, no podremos ser felices.</p>

<p>Por lo tanto, el único medio para ser felices en <i>Kali-yuga</i> es el <i>harināma-saṅkīrtana</i>.</p>

<verse>
  harer nāma harer nāma
  <br/>
  harer nāmaiva kevalam
  <br/>
  kalau nāsty eva nāsty eva
  <br/>
  nāsty eva gatir anyathā
  <verse-ref>Bṛhan-nāradīya Purāṇa (38.126)</verse-ref>
</verse>

<blockquote>

  Es decir, en Kali-yuga solo el harināma, solo el harināma, solo el harināma es el único sādhana; aparte de esto no hay, no hay, no hay ningún otro destino.

</blockquote>

<p>Nuestro <i>Paṇḍitajī</i> de <i>Vṛndāvana</i> es muy <i>rasika</i>, es un excelente orador del <i>Bhāgavatam</i> y también hace <i>kīrtana</i>; él recitó este <i>śloka</i>:</p>

<verse>
  ārādhayo bhagavān vrajeśa-tanayas
  <br/>
  tad-dhāma vṛndāvanaṁ
  <br/>
  ramyā kāchid upāsanā
  <br/>
  vraja-vadhū-vargeṇa yā kalpitā
  <br/>
  śrīmad-bhāgavataṁ
  <br/>
  pramāṇam amalaṁ
  <br/>
  prema pumartho mahān
  <br/>
  śrī-chaitanya-mahāprabhor
  <br/>
  matam idaṁ tatrādaro naḥ paraḥ
  <verse-ref>(Śrīla Viśvanātha Chakravartī Ṭhākura)</verse-ref>
</verse>

<blockquote>

  “<i>Bhagavān Vrajendranandana Śrī Kṛṣṇa</i> y el <i>Śrīdhāma Vṛndāvana</i> dotado del mismo <i>vaibhava</i> son el objeto de <i>ārādhana</i>. La <i>upāsanā</i> que las <i>vraja-vadhūs</i> realizaron con ese <i>bhāva</i> es la más excelente. El <i>Śrīmad-Bhāgavatam</i> es el <i>pramāṇa</i> puro de la palabra y el <i>prema</i> es el <i>parama-puruṣārtha</i>; esta es la opinión de <i>Śrī Chaitanya Mahāprabhu</i>. Este <i>siddhānta</i> es para nosotros el más digno de respeto; las demás opiniones no son dignas de respeto.”

</blockquote>

<p>Solo <i>Vrajendranandana Śyāmasundara</i> es nuestro <i>ārādhya</i>.</p>

<p>Aquel cuyas <i>aṁśas</i> son el Kṛṣṇa de <i>Mathurā</i> y <i>Dvārakā</i>, y cuya <i>aṁśa</i> de la <i>aṁśa</i> es <i>Rāmacandrajī</i>, ese <i>Vrajendranandana Śyāmasundara</i> es nuestro <i>ārādhya</i>.</p>

<p><i>Kṛṣṇa</i> es <i>ārādhya</i> de cuatro maneras.</p>

<ol>

  <li>Con dāsya-bhāva considérenlo como Prabhu, </li>

</ol>

<figure class="presentation-image" style="width:45%;">
  <img src="imgcatch/0213f6035c9e6f7e.avif" width="736" height="1013" alt="">
</figure>

<ol>

  <li>con sakhya-bhāva como sakha, </li>

</ol>

<figure class="presentation-image" style="width:45%;">
  <img src="imgcatch/4a05db7c31ed5484.avif" width="790" height="1000" alt="">
</figure>

<ol>

  <li>con vātsalya-bhāva como hijo, y </li>

</ol>

<figure class="presentation-image" style="width:45%;">
  <img src="imgcatch/9b391d3644d8d5bd.avif" width="500" height="641" alt="">
</figure>

<ol>

  <li>con madhura-bhāva como priyatama, y sírvanlo. </li>

</ol>

<figure class="presentation-image" style="width:45%;">
  <img src="imgcatch/6e79d2d27462a6e3.avif" width="1024" height="1409" alt="">
</figure>

<p>¿Cómo será esto?</p>

<p>La <i>ārādhana</i> que realizaron las <i>gopīs</i> es la <i>ārādhana</i> más excelente. No hay ninguna <i>ārādhana</i> superior a la <i>ārādhana</i> de las <i>gopīs</i>.</p>

<p>El <i>Śrīmad-Bhāgavatam</i> se manifestó precisamente para revelar este <i>tattva</i>. En todos los demás <i>Purāṇas</i> se han cantado todas las demás <i>mahimās</i>, pero la <i>ārādhana</i> que las <i>gopīs</i> realizaron considerando a <i>Kṛṣṇa</i> como su <i>priyatama</i> no tiene superior.</p>

<p>Muchas personas sirven a <i>Śivajī</i>, <i>Gaṇeśajī</i>, <i>Santoṣī Maiyā</i> y a otros <i>devī-devatās</i>, pero ellos no pueden dar nada.</p>

<p>Sin la ayuda de la <i>bhakti</i> tampoco pueden dar de forma independiente <i>bhukti</i>, <i>mukti</i> ni nada, y lo que se obtiene de los <i>devī-devatās</i> un día se destruirá. De ellos no se obtiene ningún beneficio real.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/4bcbdea887559ba4.avif" width="564" height="714" alt="">
</figure>

<p>Las <i>gopīs</i>, con gran <i>prema</i>, considerando a <i>Kṛṣṇa</i> como su <i>priyatama</i>, realizaron Su servicio. Al caminar, al sentarse, en todo momento solo pensaban en Él. De la misma manera nosotros también podemos realizar la <i>ārādhana</i> de <i>Kṛṣṇa</i> como las <i>gopīs</i>; sobre este tema el <i>Śrīmad-Bhāgavatam</i> es <i>pramāṇa</i>.</p>

<p>El <i>ārādhya</i> de todos, la causa de todas las causas, ese <i>Parabrahman Kṛṣṇa</i>, pide limosna de <i>praṇaya</i> a los pies de esas <i>gopīs</i>. En el <i>rāsa</i>, cuando las <i>gopīs</i> se cansan, toma el polvo de sus pies. Cuando las <i>gopīs</i> expresan <i>māna</i>, <i>Kṛṣṇa</i> las apacigua y las contenta; así es este <i>prema</i> de <i>Vraja</i>.</p>

<p>Por eso el ideal de las <i>gopīs</i> es el mejor para nosotros.</p>

<p>Por eso <i>Śrī Chaitanya Mahāprabhu</i> dice que haya <i>bhakti</i> hacia <i>Kṛṣṇa</i> como la de las <i>gopīs</i>, y eso en <i>Kali-kāla</i> solo es posible mediante el <i>nāma</i>.</p>

<p>Por eso ustedes canten el nombre de <i>Bhagavān</i>, y entre todos los nombres el más super excelente es el <i>mahāmantra</i>:</p>

<verse>
  hare kṛṣṇa hare kṛṣṇa kṛṣṇa kṛṣṇa hare hare
  <br/>
  hare rāma hare rāma rāma rāma hare hare
</verse>

<p>Ahora se realizará el <i>abhiṣeka</i> de <i>Ṭhākurajī</i>.</p>

<p>También se ha hecho la hora, por eso ahora concluiremos este <i>utsava</i> mediante el <i>mahāmantra</i>. Todos ustedes se llevarán el <i>charaṇāmṛta</i> y el <i>pañjīrī</i> de <i>Ṭhākurajī</i>.</p>

<p>Mañana aquí habrá <i>Nandotsava</i>. Todos ustedes vendrán y todos recibirán <i>prasāda</i> aquí.</p>

<p>Por la mañana primero habrá <i>Dadhi-kāḍā Mahotsava</i> y luego por la tarde habrá <i>badhāī</i>, y al mediodía <i>Nanda Bābājī</i> dará <i>bhojana-prasāda</i> a todos —<i>āhūta</i> (invitados), <i>anāhūta</i> (no invitados) y <i>praṇāhūta</i> (invitados con respeto).</p>

<p>Todos ustedes participarán, pero no olviden que todo lo que estamos haciendo, todos estos <i>mahotsavas</i> los organizamos para que todos tengan <i>bhakti</i> a los pies de loto de <i>Kṛṣṇa</i>. Si esta tarea se cumple, nuestra vida será significativa; de lo contrario, no.</p>

</div>