<!-- generate_site:meta created="2026-09-19T15:46:58.278515" hash="048e18a070745eb701fa1e40b5f4c44fb87cc140daf3a6f4ec89df8ca02ea898" -->
<div class="footer-author geek-stats accordion-stop">
  <div class="footer-author-title" style="font-weight:400;">
    <b>Estadísticas:</b> Janmāṣṭamī — Kṛṣṇa es avatārī, no avatāra
  </div>
  <div class="footer-author-text"><b>Idioma original:</b> Inglés<br/>
    <b>Traducido por:</b> Nitāy<br/>
    <b>Fecha original:</b> <span class='stat-val'>2017-08-15</span><br/>
    
    <b>Temas:</b> <span class="stat-val">11</span> (principales:<span class="stat-val">1</span>, secundarios:<span class="stat-val">10</span>)<br/>
    <b>Contenido:</b> párrafos <span class="stat-val">71</span>, palabras: <span class="stat-val">2030</span><br/>
    <b>Diseños:</b> imágenes: <span class="stat-val">11</span>, diagrámas: <span class="stat-val">0</span><br/>
    <b>Tiempo de lectura:</b> <span class="stat-val">20 min, 6 seg</span><br/>
    <b>Presentación creada el:</b> <span class="stat-val">2026-09-19, 15:46</span>
  </div>
</div>

<div id="content-body">

<h1>Janmāṣṭamī</h1>

<p>[<em class="gloss">discurso por Śrīla Bhakti Vijñāna Bhāratī Gosvāmī Mahārāja, 15 de agosto de 2017.</em>]</p>

<h2>La prostitución de las palabras</h2>

<p>Hoy es un <i>tithi</i> especial llamado <i>Janmāṣṭamī</i>. A veces nos referimos específicamente a él como “<i>Kṛṣṇa Janmāṣṭamī</i>”, pero simplemente diciendo <i>Janmāṣṭamī</i> se entiende que es el <i>Janmāṣṭamī</i> de <i>Kṛṣṇa</i>. Algunos lo llaman “<i>Kṛṣṇa Jayantī</i>”.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/f7fd282dccda95fc.avif" width="432" height="398" alt="">
</figure>

<p>Hoy en día prevalece la prostitución de las palabras por eso la gente atribuye la palabra <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-1"><i>Jayantī</i></span><span class="gloss-tooltip-content" id="gloss-1" role="tooltip" inert>nacimiento de la Suprema Personalidad de Dios, Śrī Kṛṣṇa</span> a personalidades distintas de <i>Śrī Kṛṣṇa</i>, la fuente de todos los <i>avatāras</i>; por ejemplo, ahora existe “Gāndhi jayantī”, este <i>jayantī</i> y aquel <i>jayantī</i>; todo se ha vuelto aceptable en estos tiempos. <i>Śrī Śrīmad Bhakti Hṛdaya Vana Gosvāmī Mahārāja</i> aclaró este asunto en su artículo, algo en el sentido de “No existe otro “<i>Jayantī</i>” aparte de <i>Kṛṣṇa Jayantī</i>”.</p>

<h3>¿Cómo puede tener un comienzo aquello que no tiene comienzo?</h3>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/559c265ba937aa88.avif" width="864" height="1208" alt="">
</figure>

<p>Ahora la pregunta es: ¿cuál <i>Kṛṣṇa</i>: <i>Devakīnandana Kṛṣṇa</i> o <i>Nandanandana Kṛṣṇa</i>? En general, las escrituras mencionan que <i>Kṛṣṇa</i> apareció en la prisión del rey <i>Kaṁsa</i>. Si en verdad <i>Kṛṣṇa</i> apareció en la prisión de <i>Kaṁsa</i> como hijo de <i>Vasudeva</i>, entonces ¿por qué se le llama <i>Nandanandana</i>? Incluso el festival que celebra Su nacimiento se llama <i>Nandotsava</i> Festival de <i>Nanda Mahārāja</i>. No se conoce como el festival de <i>Vasudeva</i> o <i>Vasudevotsava</i>.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/076ad653dbe08dae.avif" width="1087" height="806" alt="">
</figure>

<p>En este mundo es costumbre del padre celebrar un festival cuando es bendecido con un hijo. Sin embargo, se menciona:</p>

<verse>
  īśvaraḥ paramaḥ kṛṣṇaḥ
  <br/>
  sac-chid-ānanda-vigrahaḥ
  <br/>
  <b>anādir ādir</b> govindaḥ
  <br/>
  sarva-kāraṇa-kāraṇam
  <verse-ref>Brahma-saṁhitā: 5.1</verse-ref>
</verse>

<blockquote>

  <i>Kṛṣṇa</i> es la Suprema Personalidad de Dios. Él es <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-2"><i>Parameśvara</i></span><span class="gloss-tooltip-content" id="gloss-2" role="tooltip" inert>el Controlador Supremo</span>. Él es sin comienzo (<i>anādi</i>) y al mismo tiempo el comienzo (<i>ādi</i>). Él es <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-3"><i>Govinda</i></span><span class="gloss-tooltip-content" id="gloss-3" role="tooltip" inert>quien da placer a las vacas, a los brāhmaṇas y a los sentidos espiritualizados</span>, la causa de todas las causas, <i>sarva-kāraṇa-kāraṇam</i>.

</blockquote>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/339befceeca4f370.avif" width="1080" height="1350" alt="">
</figure>

<p>Si Él es la causa de todas las causas, ¿quién podría ser Su causa? No estoy haciendo declaraciones casuales; estoy hablando <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-4"><i>siddhānta</i></span><span class="gloss-tooltip-content" id="gloss-4" role="tooltip" inert>verdad axiomática basada en las escrituras reveladas</span>. Si Él es la causa de todas las causas, ¿cómo puede tener padre y madre? Él no puede tener padres. Pero el festival se conoce con el nombre de <i>Nandotsava</i>; Él es conocido como <i>Nandanandana</i> y así sucesivamente.</p>

<h3>¿Cuál es la razón detrás de esto?</h3>

<blockquote>

  ¿De quién es hijo <i>Kṛṣṇa</i>? <i>Bhagavān</i> no es hijo de nadie. A pesar de ser <i>aja</i> (no nacido), <i>Bhagavān</i> acepta el pasatiempo de nacer. Esta es la opulencia suprema de <i>Bhagavān</i> (<i>bhagavatatā</i>).

</blockquote>

<p><i>Kṛṣṇa</i>, aunque no nacido, acepta el pasatiempo del nacimiento porque es subordinado a Su devoto.</p>

<p><i>Bhagavān</i> se convierte en el hijo de quien tiene afecto parental (<i>vātsalya</i>) por Él. Se dice que, debido a que <i>Nanda Mahārāja</i> tiene gran afecto por <i>Bhagavān</i>, <i>Bhagavān</i> es llamado <i>Nandanandana</i>.</p>

<p>Por eso el festival se llama <i>Nandotsava</i>. ¿Se llama <i>utsava</i> de <i>Vasudeva</i>?</p>

<p>El término “<i>Janmāṣṭamī</i>” implica el nacimiento de <i>Kṛṣṇa</i>.</p>

<p>Él nació en la casa de <i>Nanda Mahārāja</i> y simplemente descendió (<i>avataraṇa</i>) sosteniendo caracola, disco, maza y loto ante <i>Vasudeva</i> y <i>Devakī</i>.</p>

<h2>Kṛṣṇa es avatārī, no avatāra</h2>

<p>Históricamente se ha observado que el hijo de <i>Vasudeva</i> apareció en la prisión sosteniendo caracola, disco, maza y loto en Sus cuatro brazos, y solo después de que <i>Devakī</i> y <i>Vasudeva</i> Le rogaran que apareciera como un niño humano ordinario, Él lo hizo.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/00b2828579c0a366.avif" width="473" height="565" alt="">
</figure>

<p>Primero apareció en Su forma trascendental <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-5"><i>alaukika</i></span><span class="gloss-tooltip-content" id="gloss-5" role="tooltip" inert>supernatural</span> de cuatro brazos, sosteniendo caracola, disco, maza y loto, y luego se convirtió en un niño humano ordinario (<i>nara-vat</i>). Esto es lo que se ha revelado en las escrituras.</p>

<p>¿Es esto posible?</p>

<p>Sí, todo es posible. <i>Kṛṣṇa</i> es el <i>avatārī</i> (el origen de todos los <i>avatāras</i> o encarnaciones). Él no es un <i>avatāra</i>, por lo que todo es posible.</p>

<h3>La fusión de dos Kṛṣṇas</h3>

<p>Desde la consideración externa, todas Sus actividades son trascendentales.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/8d0a8d7ce1d50688.avif" width="624" height="624" alt="">
</figure>

<p><i>Vasudeva</i> llevó a su hijo a la casa de <i>Nanda</i> para ocultarlo.</p>

<p>En el camino, <i>Kṛṣṇa</i> cayó en el <i>Yamunā</i>; justo entonces, el río <i>Yamunā</i> comenzó a fluir hacia atrás y <i>Vasudeva</i> pudo recuperar a <i>Kṛṣṇa</i>. <i>Kṛṣṇa</i> no se ahogó.</p>

<p>El <i>Yamunā</i> no solo dio paso a <i>Vasudeva</i> para cruzar, sino que también se elevó lo suficiente como para tocar los pies de loto de <i>Kṛṣṇa</i>.</p>

<p>En ese momento habían nacido gemelos, un hijo y una hija, de <i>Yaśodā</i>.</p>

<p><i>Vasudeva</i> trajo de regreso a la niña y dejó a su hijo <i>Vāsudevanandana Kṛṣṇa</i>, quien se fusionó con <i>Nandanandana Kṛṣṇa</i>.</p>

<p>¿Es posible algo así?</p>

<p>Por eso se dice:</p>

<verse>
  janma karma cha me divyam
</verse>

<blockquote>

  “Mi nacimiento y Mis actividades son trascendentales”

  <blockquote-ref>Bhagavad-gītā (4.9)</blockquote-ref>

</blockquote>

<p>Así, todo es trascendental.</p>

<p>Nuestros <i>gosvāmīs</i> desenterraron los significados ocultos.</p>

<p>¿Cómo lo lograron? Lo lograron simplemente expandiendo términos como “<i>Nandātmaja</i>” y “<i>Nandanandana</i>”.</p>

<p>En comparación con otros, los <i>gosvāmīs</i> desenterraron muchas evidencias (<i>pramāṇas</i>). Se puede derivar algún <i>pramāṇa</i> de cada actividad o pasatiempo.</p>

<h3>Nārada Muni: amante de las disputas</h3>

<blockquote>

  <i>Nārada</i> es conocido como <i>kalaha-priya</i>, amante de las disputas (y el drama).

</blockquote>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/bf23faafd237b89b.avif" width="640" height="460" alt="">
</figure>

<p>Él le dijo a <i>Vasudeva</i>: “Cuando tuviste un hijo, no celebraste ningún festival. Ahora tu hijo se ha convertido en <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-6"><i>Dvārakādhīśa</i></span><span class="gloss-tooltip-content" id="gloss-6" role="tooltip" inert>el Rey de <i>Dvārakā</i></span>, así que celebrará un festival”.</p>

<p>Así se había organizado todo y realizó un sacrificio, se invitó a los tres mundos, con la excepción de los <i>Vrajavāsīs</i>.</p>

<p>La responsabilidad de invitar a todos los invitados le fue asignada a <i>Nārada Muni</i>.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/b1c2f625a58e6e72.avif" width="602" height="752" alt="">
</figure>

<p>Siendo <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-7"><i>kalaha-priya</i></span><span class="gloss-tooltip-content" id="gloss-7" role="tooltip" inert>amante de las diputas</span>, primero fue a la casa de <i>Nanda Mahārāja</i> en <i>Vraja</i> y lo glorificó gritando: “¡Todas las glorias a <i>Nanda Mahārāja</i>! Hay un gran sacrificio organizado en <i>Prabhāsa</i> y tengo la responsabilidad de invitar a los residentes de los tres mundos, con excepción de los <i>Vrajavāsīs</i>”.</p>

<p><i>Nanda Mahārāja</i> se puso serio pero no respondió. <i>Nārada</i> se dio cuenta de que el objetivo de su visita no se estaba logrando, así que procedió a encontrarse con <i>Yaśodā</i> en su lugar.</p>

<p><i>Yaśodā</i> recibió a <i>Nārada</i> con mucho afecto: “¡Oh, <i>Nārada</i>! ¿Qué puedo darte de comer? Solo dime, prepararé cualquier cosa de tu elección”.</p>

<p><i>Nārada</i> respondió: “Estoy muy apurado; tengo que ir a invitar a todos en los tres mundos para el sacrificio que se organiza en <i>Prabhāsa-kṣetra</i>, excepto a los <i>Vrajavāsīs</i>. He venido aquí solo para informarte de esto”.</p>

<p><i>Yaśodā</i> anunció: “Seguramente iré, pero no a encontrarme con nadie: simplemente tomaré <i>darśana</i> de mi <i>lālā</i>, mi querido hijo y regresaré. Ni siquiera beberé agua allí. ¿Qué hay de malo en eso?”.</p>

<p><i>Nanda Mahārāja</i>, sin embargo, objetó: “Por favor, no vayas. No queda bien ir sin invitación a un sacrificio tan grandiosamente organizado y arreglado”.</p>

<p>Pero <i>Yaśodā</i> insistió: “Seguramente iré”.</p>

<p>Así que junto con otros ella fue, pero no pudo encontrarse con <i>Kṛṣṇa</i> porque las cuatro entradas estaban custodiadas por guardianes. Además, <i>Bhīma</i> y <i>Arjuna</i> patrullaban desde sus aviones por arriba.</p>

<p>Nadie sin invitación podía entrar.</p>

<p>Al principio, los <i>Vrajavāsīs</i> rogaron repetidamente e incluso lloraron, pero sin resultado. Con este pasatiempo se demostró que nada se logrará solo con oraciones y llanto, uno tiene que refugiarse en el <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-8"><i>nāma-kīrtana</i></span><span class="gloss-tooltip-content" id="gloss-8" role="tooltip" inert>La glorificación de los santos nombres de <i>Śrī Kṛṣṇa</i></span>.</p>

<h3>El nāma-kīrtana reina supremo</h3>

<p>Entonces la criada de <i>Yaśodā</i> le sugirió: “¡Oh, <i>Yaśodā</i>! Por favor, llama a tu hijo pronunciando Su nombre”.</p>

<p>Este pasatiempo demuestra cuán poderoso es el <i>nāma-kīrtana</i>. Cuando <i>Yaśodā</i> realizó <i>nāma-kīrtana</i> llamando: “¡<i>Gopāla</i>! ¡<i>Gopāla</i>!”, <i>Kṛṣṇa</i> inmediatamente dejó el sacrificio en el que estaba ocupado y vino a <i>Yaśodā</i>, sentándose en su regazo en la forma de <i>Gopāla</i>.</p>

<p>Cuando los amigos pastorcitoss llamaron: “¡<i>Kanhaiyā</i>! ¡<i>Kanhaiyā</i>! Habiendo venido hasta aquí, ¿deberíamos regresar sin Tu <i>darśana</i>?”, entonces <i>Kṛṣṇa</i> fue allí en la forma de <i>Kanhaiyā</i>, como su amigo pastorcitos.</p>

<p><i>Rādhārāṇī</i> también llamó: “¡Oh, <i>Śyāmasundara</i>! ¿No obtendré Tu <i>darśana</i>? ¿Tendré que regresar tal como estoy?”</p>

<p>En respuesta, <i>Kṛṣṇa</i> fue allí en la forma de <i>Śyāmasundara</i>.</p>

<blockquote>

  <i>Kṛṣṇa</i> correspondió a cada devoto según su <i>priya-nāma</i>, o el nombre de <i>Kṛṣṇa</i> que es más querido para ese devoto, como <i>Gopāla</i>, <i>Kanhaiyā</i> o <i>Śyāmasundara</i>; dependiendo del estado de ánimo con el que Lo llamaban, Él se les aparecía en esa misma forma.

</blockquote>

<p>En el sacrificio, <i>Nārada Muni</i> informó a <i>Devakī</i>: “Tu hijo está siendo llevado por <i>Yaśodā</i>. Por favor, maneja la situación”.</p>

<p>Solo quedaban cinco minutos para completar el sacrificio, y si no se completaba, sería inútil, sin embargo a <i>Kṛṣṇa</i> no Le importó; simplemente se levantó y se fue de la ceremonia de fuego.</p>

<p>¿Qué se demostró con este pasatiempo? Hay tanto poder en el <i>nāma-saṅkīrtana</i> que todas las actividades fruitivas como este sacrificio no recibieron ninguna precedencia en comparación con el <i>nāma-saṅkīrtana</i>. Este es el punto.</p>

<h3>La verdadera madre de Kṛṣṇa</h3>

<p>¿Es <i>Kṛṣṇa</i> el hijo de <i>Yaśodā</i> o de <i>Devakī</i>? ¿Cómo podemos determinarlo?</p>

<p>Se adjudicó que aquella cuyos pechos se desbordaran de leche por el vātsalya (amor maternal) al ver a <i>Kṛṣṇa</i> sería considerada Su verdadera madre. La leche fluyó de los pechos de <i>Yaśodā</i>, no de <i>Devakī</i>.</p>

<p>Entonces, ¿de quién es hijo?</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/ebe7fff3b3af7858.avif" width="569" height="694" alt="">
</figure>

<p>Él es el hijo de <i>Yaśodā</i> y <i>Nanda</i>. Por lo tanto, el festival se llama <i>Nandotsava</i>, <i>Kṛṣṇa Janmāṣṭamī</i>. Estos son todos asuntos muy confidenciales, no son nada fáciles de entender.</p>

<h3>El significado confidencial</h3>

<p>De todos modos, <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-9"><i>Janmāṣṭamī</i></span><span class="gloss-tooltip-content" id="gloss-9" role="tooltip" inert>el octavo día de la luna menguante del mes de <i>Bhadra</i></span> y <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-10"><i>Nandotsava</i></span><span class="gloss-tooltip-content" id="gloss-10" role="tooltip" inert>el noveno día lunar, celebración de cumpleaños de <i>Kṛṣṇa</i> realizada por <i>Nanda Mahārāja</i>, y aparición de <i>Śrīla A.C. Bhaktivedānta Swami Prabhupāda</i></span> se celebran de manera grandiosa. Ustedes consideran este día como el festival de <i>Janmāṣṭamī</i>.</p>

<p>Todo el mundo usa estos términos: “¡<i>Janmāṣṭamī</i>! ¡<i>Janmāṣṭamī</i>! ¡<i>Nandotsava</i>! ¡<i>Nandotsava</i>!”, y sin embargo nadie delibera sobre su significado confidencial. Nadie.</p>

<p>¿Simplemente repitiendo cómo se llega a creer que cuando <i>Vasudeva</i> dejó a su hijo (<i>Vāsudeva Kṛṣṇa</i>) en la casa de <i>Nanda Mahārāja</i>, Él se fusionó con el hijo de <i>Nanda Mahārāja</i> (<i>Nandanandana Kṛṣṇa</i>)?</p>

<p>¿Es esto digno de ser creído?</p>

<p>Esto se demostró cuando <i>Akrūra</i> fue enviado por <i>Kaṁsa</i> para traer a <i>Kṛṣṇa</i> y <i>Balarāma</i> a <i>Mathurā</i> desde <i>Vṛndāvana</i> para presenciar el <i>dhanur-yajña</i>.</p>

<h3>Nandanandana Kṛṣṇa nunca abandona Vṛndāvana</h3>

<p>Mientras regresaba a <i>Mathurā</i> con Ellos, en el momento cuando <i>Akrūra</i> se bañó en <i>Akrūra Ghāṭa</i>, vio a <i>Kṛṣṇa</i> sentado simultáneamente en el carruaje y dentro de las aguas del <i>Yamunā</i>. Cuando se sumergió otra vez, tuvo la misma visión.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/f86b3eabe4a59fe6.avif" width="700" height="1123" alt="">
</figure>

<p><i>Akrūra</i> se preguntó: “Esto no es un reflejo de Kṛṣṇa porque si lo fuera, tendría que estar al revés”.</p>

<p>Para confirmar, <i>Kṛṣṇa</i> le preguntó: “¿Viste algo?”.</p>

<p><i>Akrūra</i> ni siquiera pudo responder.</p>

<p>A través de este pasatiempo <i>Kṛṣṇa</i> mostró que <i>Nandanandana Kṛṣṇa</i> no dio ni un solo paso fuera de <i>Vṛndāvana</i> en ningún momento, y al la vez que hay dos <i>Kṛṣṇas</i>: <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-11"><i>Vāsudeva-Kṛṣṇa</i></span><span class="gloss-tooltip-content" id="gloss-11" role="tooltip" inert>Que aparece en el calabozo como hijo de <i>Vasudeva</i> y <i>Devakī</i> de 16 años y con 4 manos en <i>Mathurā</i>.</span> y <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-12"><i>Nandanandana-Kṛṣṇa</i></span><span class="gloss-tooltip-content" id="gloss-12" role="tooltip" inert>hijo de <i>Nanda Bābā</i> que nace como un bebé del vientre de <i>Yaśodā Māiyā</i> en <i>Gokula</i></span>.</p>

<p>Así se dice:</p>

<verse>
  kṛṣṇo ’nyo yadu-sambhūto
  <br/>
  yaḥ pūrṇaḥ so ’sty ataḥ paraḥ
  <br/>
  vṛndāvanaṁ parityajya
  <br/>
  sa kvachin naiva gacchati
  <verse-ref>Laghu-bhāgavatāmṛta (1.5.461)</verse-ref>
</verse>

<blockquote>

  El <i>Kṛṣṇa</i> conocido como <i>Yadu-kumāra</i> es <span class="gloss-trigger" tabindex="0" role="button" aria-describedby="gloss-13"><i>Vāsudeva-Kṛṣṇa</i></span><span class="gloss-tooltip-content" id="gloss-13" role="tooltip" inert><b><i>Vāsudeva</i></b> se refiere a la expansión de <b><i>Vāsudeva</i></b>, <i>Saṅkarṣaṇa</i>, <i>Pradyumna</i> y <i>Aniruddha</i>, conocida como el <i>Caturvyūha</i>, no a <i>Vasudeva</i> el esposo de <i>Devakī</i></span>. Él es diferente del <i>Kṛṣṇa</i> que es el hijo de <i>Nanda Mahārāja</i>. <i>Yadu-kumāra Kṛṣṇa</i> manifiesta Sus pasatiempos en las ciudades de <i>Mathurā</i> y <i>Dvārakā</i>, pero <i>Kṛṣṇa</i>, el hijo de <i>Nanda Mahārāja</i>, nunca deja <i>Vṛndāvana</i> en ningún momento.

</blockquote>

<p><i>Nandanandana Kṛṣṇa</i> nunca dejó <i>Vṛndāvana</i>. La diferencia es que <i>Devakīnandana Kṛṣṇa</i> mató a muchos demonios, mientras que <i>Nandanandana Kṛṣṇa</i> no mató a ninguno.</p>

<p>Esto ha sido demostrado, pero comprender las actividades trascendentales del Señor es muy difícil. Todos celebran el festival, y sin embargo no son capaces de entender su significado confidencial.</p>

<figure class="presentation-image" style="width:65%;">
  <img src="imgcatch/850be41f39765f7f.avif" width="700" height="924" alt="">
</figure>

<hr/>

</div>